<h3 class="mb-3">Angular Lazy Loader</h3>



<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Angular Lazy Loader
      </div>

      <div class="card-body">
        <p>Trong lesson này ta cùng tìm hiểu về Lazy Loader trong Angular, một điều rất thú vị và cần phải biết khi làm về Angular</p>

        <p>Trước tiên, nói về mục đích của Lazy Loader đã.</p>

        <p>Thông thường, khi ta build 1 Angular App, nó sẽ combine toàn bộ code thành 1 file js. File này thường sẽ rất nặng và
        khiến cho hệ thống chậm chạp khi ta load toàn bộ các component cùng 1 lượt.</p>

        <p>Trong khi đó, thường người sử dụng ko cần dùng hết toàn bộ các component. Họ chỉ sử dụng các component mà họ thấy cần thiết thôi.
        Vì vậy việc ta load toàn bộ là 1 việc làm kém hiệu quả về cả hiệu năng lẫn trải nghiệm người dùng.</p>

        <p>Lazy Loader ra đời để giải quyết điều đó.</p>

        <p>Lazy Loader có nhiệm vụ chia nhỏ các router thành các Module độc lập. Và ứng với mỗi lazy loader, nó sẽ có 1 file js đi kèm.
        Tất nhiên dung lượng của file này sẽ nhỏ hơn rất nhiều so với file index trước kia.</p>

        <p>Lazy Loader chia nhỏ router thành các module độc lập vì vậy việc tổ chức sẽ trở nên rõ ràng và dễ hiểu hơn. Đó mới là cái hay
        thật sử của cái này</p>

        <p>Từ đó, ta đi vào tìm hiểu 2 vấn đề chính của Lazy Loader trong Angular.</p>

        <ol>
          <li>Xây dựng Lazy Loader</li>
          <li>Tối ưu hóa Lazy Loader bằng Preload feature.</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implement Lazy Loader
      </div>

      <div class="card-body">
        <p>Để tạo Lazy Loader ta thực hiện theo các bước sau:</p>

        <h4>1. Tạo module với module routing.</h4>


        <blockquote>
          ng g m java --routing
        </blockquote>

        <p>ng g m java để tạo ra module Java, và --routing để tạo 1 Routing Module cho nó. Kết quả ta có 2 file java.module.ts và java-routing.module.ts</p>

        <p>Nếu mà quên tạo routing thì ta có thể copy 1 file routing khác rồi import vào file java.module.ts thôi.</p>

        <h4>2. Custom lại router trong file java-routing.module.ts</h4>

        <blockquote>
          const routes: Routes = [{{'{'}}<br />
            path: '',<br />
            component: JavaComponent,<br />
            children: [<br />
            {{'{'}} path: '', component: JavaComponent},<br />
            {{'{'}} path: 'jvm-architecture', component: JVMArchitectureComponent},<br />
            {{'{'}}<br />
              path: 'java-core', children: [<br />
                {{'{'}}path: '', component: JavaCoreComponent},<br />
                {{'{'}}path: 'object', component: JavaObjectComponent},<br />
                {{'{'}}path: 'class', component: JavaClassComponent}<br />
              ],<br />
            },<br />
            {{'{'}}<br />
              path: 'java-advance', component: JavaComponent<br />
              }, {{'{'}}<br />
              path: 'concurrency',<br />
              children: [<br />
              {{'{'}}path: '', component: JavaComponent},<br />
              ]<br />
            }]<br />
          }];
        </blockquote>

        <p>Thấy nó quen ko, thực ra nó ko khác gì cái routing cũ kia cả.</p>


        <h4>Update lại lazy Loader cho App-routing.module.ts</h4>

        <blockquote>
          const routes: Routes = [<br />
          {{'{'}} path: '', redirectTo: '/angular', pathMatch: 'full'},<br />
          {{'{'}} path: 'dashboard', component: DashboardComponent},<br />
          <b>{{'{'}} path: 'angular', loadChildren: './angular/angular.module#AngularModule' },</b><br />
          <b>{{'{'}} path: 'java', loadChildren: './java/java.module#JavaModule'},</b><br />
          ];<br />
        </blockquote>

        <p>Ta cũng có thể tách java-core thành 1 Lazy Loader Module. Cách thực hiện cũng tương tự như trên.</p>


        <p>Vậy là xong.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Preload Strategy
      </div>

      <div class="card-body">
        <p>hạn chế của preload đó là, sau khi App được load, cần phải mất 1 thời gian để load cái module có liên quan kia lên thông
        qua file js của chúng.</p>

        <p>Điều này khiến cho ứng dụng bị "đơ" vài giây, và đôi khi, sẽ là vài chục giây nếu nó quá lớn. Người dùng sẽ ko thích điều này.</p>

        <p>Vì vậy, Angular đưa ra 1 giải pháp được gọi là preload.</p>

        <p>Khi ta khai báo 1 preload, lúc được init lên, thì cái module kia sẽ được load mặc định ở background. Khi khách hàng còn chưa kịp tương
        tác thì có thể nó đã load ngầm xong ở dưới background và thế là ứng dụng vẫn mượt mà và người dùng thậm chí còn không kịp
          nhận ra điều này..</p>

        <p>Để config preload, ta cần thêm như sau:</p>

        <blockquote>

          @NgModule({{'{'}}
            imports: [RouterModule.forRoot(routes, {{'{'}} preloadingStrategy: PreloadAllModules })],
            exports: [RouterModule]
          })
        </blockquote>

        <p>Mở network lên, ta thấy ngay, sau khi load xong, nó sẽ load tiếp 2 module vào hệ thống.</p>


      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Custom Preload
      </div>

      <div class="card-body">
        <p>Cái Preload ở trên kia thấy có vẻ ok, nhưng mà nó vẫn có 1 vấn đề, đó là nó sẽ load hết các module mà ta đánh dấu.</p>

        <p>Đôi lúc ta chỉ cần nó load 1 cái module nào đó thôi, thay vì load toàn bộ. Lúc này ta sẽ cần tự xây dựng 1 preload
        module cho riêng mình.</p>

        <p>Cách làm như sau:</p>

        <h5>Custom lại router bằng cách thêm các data vào.</h5>

        <blockquote>
          const routes: Routes = [<br />
          {{'{'}}path: '', redirectTo: '/angular', pathMatch: 'full'},<br />
          {{'{'}}path: 'dashboard', component: DashboardComponent},<br />
          {{'{'}}<br />
            path: 'angular',<br />
            loadChildren: './angular/angular.module#AngularModule',<br />
            data: {{'{'}}preload: true, delay: true}<br />
            }, {{'{'}}<br />
          path: 'java',<br />
          loadChildren: './java/java.module#JavaModule',<br />
          data: {{'{'}}preload: true, delay: false}<br />
          }];
        </blockquote>

        <h5>Bước 2, create 1 Service implement PreloadingStrategy và overwrite lại preload method</h5>

        <blockquote>
          Xem file front-end/src/app/custom-preload-strategy.service.ts.
        </blockquote>

        <h5>Bước 3, vào trong file app-routing.module, cập nhật lại cái preloadStrategy từ PreloadAllModules sang
          CustomPreloadStrategyService</h5>

        <blockquote>
          @NgModule({{'{'}}<br />
            imports: [RouterModule.forRoot(routes, {{'{'}} preloadingStrategy: CustomPreloadStrategyService })],<br />
            exports: [RouterModule]<br />
          })

        </blockquote>

        <h5>Bước 4, thêm nó vào provide trong app.module.ts vaf refresb lại page để kiểm tra.</h5>


      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Những lưu ý
      </div>

      <div class="card-body">
        <p>Trong một app, việc set lazy loader nên được thực hiện từ ban đầu cho rõ ràng và dễ hiểu.</p>
        <p>1 Lazy Loader có thể được sử dụng trong 1 Lazy Loader khác.</p>
        <p>Một Module là độc lập. Các component khai báo bên trong nó chỉ cần khai báo ở Module chính, ko cần khai báo ở module
        App.module.</p>
        <p>Sử dụng preload hay ko là một chiến lược, đòi hỏi phải cần xem xét. Thường chỉ preload cho các module mà được sử dụng nhiều mà thôi.</p>
        <p>Nhưng nếu module con ít quá thì thôi khỏi cần preload cũng được.</p>
      </div>
    </div>
  </div>
</div>
