<nav aria-label="breadcrumb" *ngIf="breadcrumbService.getListBreadcrumbItem().length > 0">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>

    <ng-container *ngFor="let item of breadcrumbService.getListBreadcrumbItem(); let i = index">
      <li class="breadcrumb-item"*ngIf="i < breadcrumbService.getListBreadcrumbItem().length - 1">
        <a [routerLink]="[item.routerLink]">{{item.name}}</a>
      </li>

      <li *ngIf="i == breadcrumbService.getListBreadcrumbItem().length - 1" class="breadcrumb-item active" aria-current="page">
        {{item.name}}
      </li>
    </ng-container>
  </ol>
</nav>

