<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Abstract Factory Pattern - Creational Pattern</h2>

      <p>Bản chất của Abstract Factory đó là cung cấp một tập hợp các Factory có phụ thuộc hoặc liên quan với nhau.</p>

      <p>Bản chất của Abstract Factory chính là : <b>Cung cấp một interface cho việc tạo ra những object liên quan,
        hoặc phụ thuộc mà không chỉ rõ các class cụ thể của nó.</b></p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        <p>Cũng vẫn là cái cửa hàng ở góc phố kia. Sau một thời gian kinh doanh, nó đã trở nên sầm uất và phát triển hơn bao giờ hết.</p>

        <p>Ông chủ cửa hàng khá là hài lòng, nhưng vẫn mong muốn nó sẽ phát triển hơn nữa. Ông quyết định mở rộng thực đơn của mình
          để có thể đáp ứng cho nhu cầu ẩm thực của khác hàng. Để tạo đa dạng món ăn, ông quyết định sẽ xây dựng thực đơn theo ngày và thực đơn đặc biệt.</p>

        <p>Ông tuyển thêm một đống bếp phó và để anh bếp trưởng kia quản lý. Giờ thì anh bếp trưởng ko cần thiết phải nấu ăn nữa, mà đã lên chức thành người giám sát rồi.</p>

        <p>Nhưng mà vấn đề ở đây, khách hàng vào nhộn nhịp, việc cung ứng nguyên liệu của anh phụ tá kia không kịp.</p>

        <p>Và tất nhiên, điều này khiến ông chủ ko hài lòng rồi.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Giải pháp
      </div>

      <div class="card-body">
        <p>Danh sách món ăn có rồi, tại sao ta không phân loại chúng ra, khi nào cần thì ta sẽ cung ứng toàn bộ. Thay vì việc phải lấy từng quả trứng, miếng thịt bò, ít rau củ như
          trước kia, thì giờ anh phụ bếp chỉ cần để chúng vào 1 cái khay, và khi nào cần thì mang lên ngay cho anh bếp trưởng.</p>

        <p>Thế là, từ sáng sớm, anh phụ bếp hí húi xem cái danh sách, phân loại thành các nguyên liệu cho từng món ăn, rồi lúc khách hàng gọi, thì anh mang ngay vào cho mấy anh đầu bếp.</p>

        <p>Tiến độ công việc giờ đã nhanh hơn, mà việc quản lý nguyên liệu cũng dễ dàng hơn trước, vì toàn bộ đã có anh phụ bếp nắm rồi.</p>

        <p>Anh phụ bếp bây giờ, đã trở nên cao cấp hơn. Từ một Factory đơn giản, chỉ biết cung cấp trứng,
          thịt, thì giờ anh trở thành Abstract Factory - cung cấp được cả thực đơn.</p>

        <p>Sau này nếu như cửa hàng mở rộng, ông chủ tuyển thêm 1 đội ngũ giúp việc phụ anh, thì công việc
          của anh sẽ nhàn hơn nhiều, chỉ cần ngồi chờ ngta bưng các nguyên liệu tới, và đem nó cho các
          đầu bếp là xong, ko cần vất vả ngồi xếp từ đầu như trước nữa.</p>

        <p>Nếu như Factory quản lý việc tạo ra một bộ phận/ thuộc tính của đối tượng, thì abstract factory có vẻ nghiêng về việc nó dùng để tạo ra các đối tượng riêng biệt hơn. Trong ví dụ này, rõ ràng
          thực đơn món chính sẽ khác với thực đơn tráng miệng, mặc dù nó cũng được cấu tạo từ nước, đường, trứng, thịt này nọ.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>

      <div class="card-body">
        
        <p>Abstract Factory là 1 dạng mở rộng của Factory. Nó ra đời khi ta cần gom các Factory lại với nhau để cho gọn 
          và code đồng nhất hơn trong hệ thống.</p>
        
        <p>Abstract Factory được sử dụng khi ta đã có quá nhiều Factory và những Factory này có liên quan với nhau ở một khía cạnh nào đó,
        ví dụ như 1 công thức chẳng hạn.</p>
        
        <p>Abstract Factory nhóm các Object có liên quan lại với nhau, để có thể gọi nó 1 cách thuận tiện nhất.</p>
        
        <p>Ví dụ ta có object A được tạo thành từ đống B1, C2, D5, E4, Object B được tạo thành từ B2, C3, D1, E2, thì lúc này thay vì
        việc ta phải gọi 4 cái Factory cho mỗi lần tạo cái Object A, thì ta dùng luôn 1 Abstract Factory mà có thể gọi tới 4 Factory để
        tạo ra 4 Object đó. </p>
        
              
        
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implements
      </div>

      <div class="card-body">
        <p>Một abstract Factory gồm những thành phần sau :</p>

        <ul>
          <li>AbstractFactory : Định nghĩa một interface cho thao tác khởi tạo các Abstract Product</li>
          <li>ConcreteFactory : Thực thi Abstract Factory để cho ra một đối tượng cụ thể</li>
          <li>Factories </li>
        </ul>

        <p>Ví dụ: Ở đây ta đã có sẵn các Factory Trứng, Factory Rau, Factory Thịt này nọ rồi.</p>

        <p>Cửa hàng cung cấp thực đơn các món hầm gồm gà hầm nấm, bò hầm khoai tây, heo hầm đu đủ.</p>

        <p>Khách hàng vào yêu cầu món Bò hầm khoai tây, khi này anh phục vụ sẽ mang Bò từ Factory Thịt,
          Khoai tây, cà rốt từ Factory Rau lên cho anh đầu bếp.</p>

        <p>Khách hàng vào yêu cầu món Bò hầm khoai tây, nhưng phải là bò tót Tây Ban Nha, thì anh phục
          vụ sẽ vào lấy dĩa thịt trâu hôm qua cùng ít khoai tây mang cho anh đầu bếp.</p>

        <blockquote>
          Thay vì sử dụng if - else như trong Factory, đối với Abstract Factory, ta tạo ra 1 class để handle
          chuyện create object cho nó.<br />
          <br />
          <br />
          Nó cung cấp cách tiếp cận đến interface hơn là implements.<br />
          <br />
          Nó dễ dàng mở rộng từ các Factory đã có sẵn.<br />
          <br />
          Nó rất mạnh mẽ và tránh được điều kiện if-else của Factory.<br />
        </blockquote>

        <img src="assets/design_pattern/uml_diagram/abstractfactory_pattern_uml_diagram.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages & Disadvantages
      </div>

      <div class="card-body">
        <p>Lợi ích của Abstract Factory là gom các Factory lại với nhau theo 1 bản contract nào đó.</p>

        <p>Điều này hạn chế DRY (Don't Repeat Yourself) và khiến cho code trở nên thống nhất hơn.</p>

        <p>Đôi khi Abstract Factory lại là 1 điều tai hại. Giả sử ta sử dụng Abstract Factory để lấy 1 đống các Factory liên quan, nhưng vì 1 lý do nào đó, ta cần tạo ra 1 trường hợp đặc biệt khác.
        Khi này, nếu dùng Abstract Factory thì ta sẽ có thể có n! trường hợp cần tạo. Và vì vậy cái Abstract Factory càng ngày càng trở nên cồng kềnh,
        và ngay chính người tạo nó cũng ko hiểu là nó được dùng ở đâu.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Summary
      </div>

      <div class="card-body">
        <p>Abstract Factory dùng để gom các Factory có liên quan lại với nhau, cho việc sử dụng nó trở nên thuận tiện hơn.
        Thay vì ta phải gọi 5 Factory khi tạo 1 Object nào đó, thì giờ ta chỉ cần dùng Abstract Factory để lấy 5 cái kia cho tiện mà thôi.</p>

        <p>Abstract Factory loại bỏ điều kiện if/else của Factory, thay vào đó nó tạo từng method độc lập để trả về các Factory theo yêu cầu.</p>

        <p>Abstract Factory được sử dụng khi ta có 1 đống các Factory và số lượng nó tăng dần đều.</p>

        <p>Abstract Factory được sử dụng khi đống Factory của ta có 1 mối liên hệ nào đó.</p>

        <p>Thằng này có vẻ ít gặp, nên xem qua cho biết cũng được.</p>
      </div>
    </div>
  </div>
</div>
