<h3 class="mb-3">Angular Service</h3>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Service
      </div>

      <div class="card-body">
        <p>Service trong Angular là các Singleton và sử dụng DI pattern trong việc thiết kế. Ưu điểm của điều này là có thể
        test dễ dàng, và tạo ra sự kết nối lỏng lẻo cho ứng dụng. Nhớ đó việc maintain trở nên dễ dàng hơn.</p>

        <p>Ở bài học này ta chủ yếu tìm hiểu về những vấn đề sau:</p>

        <ul>
          <li>Tạo 1 Service</li>
          <li>Inject nó vào component hoặc vào service khác</li>
          <li>các Obseverble </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Create a Service
      </div>

      <div class="card-body">
        <p>Để create 1 service, ta dùng command line gõ cái lệnh sau:</p>

        <blockquote>
          ng g s ServiceName
        </blockquote>

        <p>Ví dụ, ta sẽ tạo 1 service, BookService. Book Service được dùng để tương tác với danh sách các book. Trong
        một tương lai khác, nó sẽ là nơi ta xử lý data trả về theo những mục đích khác nhau.</p>


        <blockquote>
          ng g s Book
        </blockquote>

        <p>Sau khi khai báo service, ta buộc phải include nó vào trong App.</p>

        <p>Khác với component, Service phải được include vào trong danh sách providers của APP.</p>

        <p>Tiếp theo, ta tạo 1 component để show ra list book.</p>

        <blockquote>
          <app-angular-list-book-example></app-angular-list-book-example>
        </blockquote>

        <p>Tiếp đó nữa ta tạo thêm 1 component Angular Book để mà handle việc select book.</p>

        <blockquote>
          <app-angular-book-example [book]=selectedBook></app-angular-book-example>
        </blockquote>
      </div>
    </div>
  </div>
</div>
