<app-lesson-menu [lessonTitleDisplay]="'Angular App'" [lessonService]="this.angularService">
  <div class="lesson-container-display">
    <div class="col-12">
      <div class="row mt-3">
        <div class="col-12 col-md-9">
          <router-outlet></router-outlet>
        </div>

        <div class="col-12 col-md-3">
          <h3 class="mb-3">About</h3>

          <div class="row mb-3">
            <div class="col-12">
              <ul class="list-group">
                <li class="list-group-item">Author: Khanh Tran</li>
                <li class="list-group-item">Email: quockhanhqb011@gmail.com</li>
                <li class="list-group-item">Phone: 0989 890 960</li>
                <li class="list-group-item">Company: BanVien</li>
                <li class="list-group-item">Position: Developer</li>
                <li class="list-group-item">Skill: Front-end, Java, OOP, DB</li>
              </ul>
            </div>
          </div>

          <h3 class="mb-3">Introduction</h3>
          <div class="row mb-3">
            <div class="col-12">
              <p>Trong Angular, ta chỉ cần quan tâm tới các vấn đề sau:</p>

              <dl>
                <dt>Chi nhỏ 1 angular app thành nhiều module</dt>
                <dd>Chia để trị, từ 1 App thành nhiều Moduler, từ 1 Module nhỏ thành nhiều phần nhỏ hơn. Sử dụng router để điều
                hướng cũng như handle các Component sẽ render.</dd>

                <dt>Làm việc với Component</dt>
                <dd>Sử dụng Router để render ra layout. Nếu xét theo MVC thì Component là View + Model, Router là Controller</dd>

                <dt>Làm việc với các Service</dt>
                <dd>Giao tiếp giữa các đối tượng thông qua 1 Service trung gian, tương tác với Server thông qua API này nọ.</dd>

                <dt>Làm việc với các Third Party</dt>
                <dd>Sử dụng Material, Bootstrap và các thư viện Angular khác để hiệu quả hơn trong công việc</dd>

                <dt>Làm việc với các Directive</dt>
                <dd>Học cách sử dụng các Directive phổ biến như ngIf, ngFor, ngSwitch, ng-container, ng-template, ng-content.
                  Dùng 1 Attribute/Directive biến 1 component thành 1 hình dạng mà ta muốn. Đây là cách ta custom lại
                behavior của một cụm, ví dụ như 1 Component trong ISE chẳng hạn</dd>

                <p>Trên đó là list những kiến thức cần thiết cho level cơ bản của Angular. Còn nếu muốn pro hơn thì phải đi sâu hơn nữa.</p>
              </dl>
            </div>
          </div>
        </div>

        <div class="col-12 actions">
          <a class="btn btn-default" mat-menu-item [routerLink]="['/angular']">Back to Overview</a>
        </div>
      </div>
    </div>
  </div>
</app-lesson-menu>

