<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Adapter Design Pattern - Structural Pattern</h2>

      <p>Adapter Pattern được định nghĩa là một mẫu thiết kế cho phép bạn sửa đổi/mở rộng một giao diện giữa đối tượng
        và một lớp mà không phải sửa đổi trực tiếp lên chúng. Hay nói ngắn gọn nó là một bộ chuyển đổi.
      </p>

      <p>Vì vậy, nó thường được sử dụng khi ta muốn integrate/ 2 Module khác khau hoặc chuyển đổi một interface
        đã có sẵn cho phù hợp với một interface khác.</p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        <p>Một ngày đẹp trời, ông chủ quyết định sẽ nâng cấp toàn bộ máy móc cho các anh đầu bếp. Ổng mua đâu được bên Nhật
          về một mớ hàng xịn, kêu thợ vận chuyển tới lắp đặt này nọ.</p>

        <p>Mọi việc sẽ ko có vấn đề gì nếu như : Nó chạy bằng điện 110v trong khi hệ thống điện của VN lại là 220v</p>

        <p>Và giờ làm sao để có thể sử dụng được những thiết bị này : Hay thôi trả nó lại và mất thêm một khoản phí kha khá.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Giải pháp
      </div>

      <div class="card-body">
        <p>Lên google search một hồi, Ổng quyết định ra tiệm điện gần nhà, mua một cái ổn áp, đầu vào 220v, đầu ra
          có thể là 110v hoặc 220v. Vậy là hệ thống thiết bị mới này sẽ được nối riêng ra, thông qua một cục chuyển áp.</p>

        <p>Cục chuyển áp kia là một ví dụ của Adapter.</p>

        <p>Mục đích của nó là làm cho các thiết bị/ interface không tương thích, có thể hoạt động/ giao tiếp với nhau.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>

      <div class="card-body">
        <p>Adapter là một Pattern rất hay. Nó giúp cho ta có thể thay đổi Class để tương thích với các điều kiện khác mà che dấu hoàn
        toàn việc thay đổi này với bên ngoài. Cái tên Adapter cũng nói lên khá nhiều điều. Nó là bộ chuyển đổi, tức là nằm ở vị trí trung
        gian giữa Class Interface và Client.</p>

        <blockquote>
          An Adapter Pattern says that just "converts the interface of a class into another interface that a client wants".
        </blockquote>

        <p>Có hai loại Adapter phổ biến, Object Adapter và Class Adapter. Ví dụ về tờ giấy trên kia là một ví dụ về Object Adapter.</p>

        <dl>
          <dt>
            Class Adapter: sử dụng kế thừa và extend một interface nào đó
          </dt>

          <dd>
            Đối với trường hợp này, khi 1 class cha không tương thích với Interface A, ta sẽ tạo 1 thằng con Extend từ cái parent đó,
            thay đổi các Behavior để tương thích với cái Class đó.
          </dd>

          <dt>
            Object Adapter: sử dụng Java Composition
          </dt>

          <dd>
            Đối với trường hợp này, ta tạo 1 Composition riêng implement cái interface trên. Sau đó, ta "nhúng" nó vào các Class
            mà ta muốn và sử dụng nó để gọi cái interface tương ứng. Cách này hiệu quả hơn, vì khi đó ta sẽ có 1 reusable class
            và có thể biến bất cứ Class nào cũng có thể tương thích với interface mà ta muốn.
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implements
      </div>

      <div class="card-body">
        <p>Class Adapter: Triển khai theo mối quan hệ IS-A</p>

        <p>Object Adapter: Triển khai theo mối quan hệ HAS-A</p>

        <img src="../assets/design_pattern/uml_diagram/adapter_pattern_uml_diagram.jpg" class="img-fluid">

        <p>Cái chức năng PlayMedia.js trong Sadlier là 1 ví dụ của Object Adapter.</p>

        <p>Việc đầu tiên, ta quan tâm tới behavior của cái media, nó có thể là audio, video, ta ko cần quan tâm. Ta chỉ quan tâm
        tới các behavior của nó. Ví dụ renderLayout, play, pause, stop, changeVolume, changeToFullScreenMode. Từ những method này ta định ra được các behavior
        tương ứng.</p>

        <p>Sau đó, ta tạo 1 object MEDIA_UTILS bên trong cái Object Util của ta, quyết định sẽ new audioPlayer hay videoPlayer
        thông qua 1 factory.</p>

        <p>Và đổi các event của cái Util này thành MEDIA_UTILS.callTheMethod mà thôi.</p>

        <p>JS khó viết oop hơn là TS nên cần cẩn thận khi xài nó, ko thì sẽ có những thứ ko chạy được :)</p>

        <p>Lưu ý, audio không có fullScreen nhưng ta vẫn cần phải implement method này cho nó, nhưng tốt nhất là cho return false.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages & Disadvantages
      </div>

      <div class="card-body">
        <p>Ưu điểm của Adapter Pattern đó là che dấu đi sự thay đổi của Object đối với Client.</p>

        <p>Với Object Adapter thì ta có thể reuse nó ở bất cứ đâu.</p>

        <p>Nhược điểm của nó là, chưa thấy có điều gì đáng kẻ.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Summary
      </div>

      <div class="card-body">
        <p>Adapter pattern thường được sử dụng, khi ta có 1 require mới mà interface cũ không đáp ứng được/ không tương thích.
          Lúc này ta quyết định update method/behavior bên trong nhưng không làm thay đổi interface bên ngoài, tức là che dấu
          đi sự thay đổi đối với client.</p>

        <p>Việc sử dụng Adapter phải đảm bảo là ko làm ảnh hưởng tới Interface hiện tại, mà chỉ mở rộng nó.</p>

        <p>Có 2 cách tiếp cận để đạt được, tùy vào trường hợp mà ta sẽ sử dụng Class Adapter hoặc Object Adapter. Tuy nhiên,
          Object Adapter thì luôn linh hoạt hơn, vì nó tách được sự phụ thuộc giữa Interface cũ và Interface mới.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        IS-A and HAS-A in OOP.
      </div>

      <div class="card-body">
        <p>
          IS-A là mối quan hệ cha - con, trong đó thằng mới được extends từ thằng ban đầu.<br />
          Trong mối quan hệ này, thì thằng mới kia có thể override các method của thằng cha lại cho phù hợp
          với ngữ nghĩa của nó.
        </p>

        <p>
          HAS-A thì sử dụng cách khác, nó đưa thằng cha vào làm một properties của thằng mới<br />
          Thằng mới chỉ có thể sử dụng lại các method của thằng ban đầu
        </p>
      </div>
    </div>
  </div>
</div>
