<div class="container">
  <div class="left-panel">
    <div class="avatar">
      <img src="../assets/avatar.jpg" class="img-fluid" style="width: 100%; height: auto;">
    </div>

    <div class="header">About me</div>

    <div class="user-info">
      <ul>
        <li class="sub-header"><b>Tran Dai Quoc Khanh</b></li>
        <li>Date of birth: <b>Sep 02, 1990</b></li>
        <li>Gender: <b>Male</b></li>
        <li>Phone: <b>0989 890 960</b></li>
        <li>Email: <b>bluesky020990@gmail.com</b></li>
      </ul>
    </div>

    <div class="header">SKILLS</div>
    <div class="skills-info">
      <div class="skill-group">
        <div class="group-name">Back-end</div>
        <ul>
          <li title="OOP" value="80"></li>
          <li title="Design Pattern" value="80"></li>

          <li title="Java" value="80"></li>
          <li title="Spring" value="60"></li>
          <li title="Hibernate" value="80"></li>

          <li title="Nodejs" value="40"></li>
        </ul>
      </div>

      <div class="skill-group">
        <div class="group-name">Front-end</div>
        <ul>
          <li title="Javascript" value="70"></li>
          <li title="Jquery" value="80"></li>
          <li title="HTML/CSS" value="80"></li>
          <li title="Angular" value="60"></li>
          <li title="React" value="40"></li>
        </ul>
      </div>

      <div class="skill-group">
        <div class="group-name">PERSONAL</div>
        <ul>
          <li title="Strategy" value="80"></li>
          <li title="Organization" value="80"></li>
          <li title="Team player" value="80"></li>
          <li title="Creativity" value="80"></li>
          <li title="Social" value="60"></li>
        </ul>
      </div>

      <div class="skill-group">
        <div class="group-name">LANGUAGES</div>
        <ul>
          <li title="English" value="50"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="user-info">
      <h1>TRAN DAI QUOC KHANH</h1>
      <h2>SOFTWARE ENGINEER</h2>
      <div class="info">0989 890 960 | bluesky0209990@gmail.com</div>
    </div>

    <div class="cv-section">
      <h2>EDUCATION</h2>
      <div class="content">
        <div class="section-time">(2008 - 2013)</div>
        <h3>Software engineer</h3>
        <div class="detail">
          The University of Transport in HCM City
        </div>
      </div>
    </div>

    <div class="cv-section">
      <h2>WORKING HISTORY</h2>
      <div class="content">
        <div class="section-time">(10/2013 - present)</div>
        <h3>Software engineer</h3>
        <div class="highlight">BanVien Company – District 4, HCM city</div>

        <div class="detail">
          <ul>
            <li>Join the developer team and develop eLearning system as a developer and team leader.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cv-section">
      <h2>EXPERIENCE SUMMARY</h2>

      <div class="content">
        <div class="section-time"></div>
        <div class="detail">
          <div class="description">
            <ul>
              <li>+6 years of software experience.</li>

              <li>Have experience in written backend with Java, Spring Framework, Hibernate, Database</li>

              <li>Strong experience in written front-end with Javascript, Typescript, Jquery, CSS, SCSS, RaphaelJs(svg library),
                Canvas HTML5, Angular, Rect ...
              </li>

              <li>Knowledgeable of CMS, e-Learning system</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="cv-section">
      <h2>PROFESSIONAL EXPERIENCE</h2>

      <div class="content">
        <div class="section-time"><span class="place">BanVien Company – HCM city</span> (2013 - 2016)</div>
        <h3>Software engineer</h3>

        <div class="description">
          <ul>
            <li>Web development with Jquery, svg, Html, Css</li>
            <li>Implement backend with Java, Spring, Hibernate, Jsp</li>
            <li>Database: MySQL, Postgres, Oracle</li>
            <li>IDE: Intellij</li>
          </ul>
        </div>
      </div>

      <div class="content">
        <div class="section-time"><span class="place">BanVien Company – HCM city</span> (2016 - present)</div>
        <h3>TEAM LEADER</h3>

        <div class="description">
          <ul>
            <li>Manage team members (6-10 members)</li>
            <li>Manage resource plan and development schedules</li>
            <li>Control quality and deadline</li>
            <li>Working with customer and partner</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cv-section">
      <h2>PROJECT REFERENCES</h2>

      <div class="content">
        <div class="section-time"><span class="place">BanVien Company – HCM city</span> (10/2013 - 2016)</div>
        <h3>Software engineer</h3>
        <div class="detail">
          <div class="highlight">SadlierConnect</div>

          <div class="description">
            <ul>
              <li>Convert the books to digital assessment</li>
              <li>Create the engine that help student answer the question</li>
              <li>Skill:  java, js, html</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="section-time"><span class="place">BanVien Company – HCM city</span> (03/2016 - 06/2016/2016)</div>
        <h3>Software engineer</h3>
        <div class="detail">
          <div class="highlight">ChoCoGo</div>

          <div class="description">
            <ul>
              <li>Implement ChoCoGo game (it's a product of the Chocopie Company)</li>
              <li>Create ChoCoGo game</li>
              <li>Skill:  js, html5</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="section-time"><span class="place">BanVien Company – HCM city</span> (2017 - 2018)</div>
        <h3>Software engineer</h3>
        <div class="detail">
          <div class="highlight">ISE Components</div>

          <div class="description">
            <ul>
              <li>Convert the books to digital assessments.</li>
              <li>Create engines that used in do assignment</li>
              <li>Support scoring</li>
              <li>Skill:  java, js, svg, html5, scss</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="section-time"><span class="place">BanVien Company – HCM city</span> (2018 - 2019)</div>

        <h3>TEAM LEADER</h3>
        <div class="detail">
          <div class="highlight">Christ in Us</div>

          <div class="description">
            <ul>
              <li>Extend and rewrite the current system for new requirement</li>
              <li>Support responsive for the system</li>
              <li>Skill:  java, js, scss</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="section-time"><span class="place">BanVien Company – HCM city</span> (2019 - present)</div>
        <h3>TEAM LEADER</h3>
        <div class="detail">
          <div class="highlight">Convert Flash Game to HTML</div>

          <div class="description">
            <ul>
              <li>Convert current flash games (more than 3.500 games) to HTML games.</li>
              <li>Skill:  js, scss</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
