<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Composite Pattern - Structural Pattern</h2>

      <p>Composite cho phép thực hiện các tương tác với tất cả các đối tượng trong mẫu tương tự nhau.</p>

      <p>Một đối tượng Composite được tạo thành từ một hay nhiều đối tượng tương tư nhau, hoặc có những chức năng tương tự nhau.</p>

      <p>Ý tưởng của Composite đó là việc thao tác trên một nhóm đối tượng, cũng giống như thao tác trên một đối tượng duy nhất.</p>

      <p>Composite có thể được gọi là “đa hợp”</p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        <p>Cửa hàng của ông chủ dạo gần đây thường bị khách hàng than phiền là để họ chờ đợi quá lâu, vào gọi đồ ăn mà 30p
          chưa lên được. Điều này làm ông chủ lấy làm khó chịu lắm.</p>

        <p>Ông đắn đo suy nghĩ, nguyên nhân là gì nhỉ, tại cô phục vụ đưa Order cho anh đầu bếp chậm, hay tại anh phụ
          bếp làm việc không hiệu quả, hay là anh đầu bếp lại lười biếng ham chơi.</p>

        <p>Vậy là cuối ngày, ổng tập hợp danh sách các nhân viên lại để xem xét xem trung bình họ làm một món ăn
          hết bao nhiêu, và nó có thật sự là chậm như lời khách hàng phàn nàn ko?</p>

        <p>Nhưng, tính ntn nhỉ.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Giải pháp
      </div>

      <div class="card-body">
        <p>Việc phục vụ món ăn có nhiều công đoạn.</p>

        <p>Đầu tiên, cô phục vụ sẽ đem menu lên cho khách hàng và đợi order món.</p>

        <p>Sau đó, cô mang order đó gửi cho anh phụ bếp.</p>

        <p>Anh phụ bếp căn cứ món ăn mà khách hàng yêu cầu, chuẩn bị nguyên liệu và mang vào cho anh đầu bếp.</p>

        <p>Anh đầu bếp chế biến và trang trí món ăn.</p>

        <p>Cô phục vụ lại hối hả mang cho khách hàng.</p>

        <p>Mỗi công đoạn này đều tốn một thời gian nhất định. Tổng thời gian của nó là thời gian mà món ăn hoàn thành.</p>

        <p>Vì vậy, chỉ cần mỗi nhân viên cung cấp ước lượng cho ông thời gian của mỗi quy trình của họ, thì ông dễ dàng tính được thời gian
          của từng món mà khách hàng yêu cầu.</p>

        <p>Trong lập trình, ta cũng gặp những trường hợp tương tự. Một object có thể có nhiều đối tượng bên trong nó, và các đối tượng đó, có thể
          có các hành vi giống nhau. Ví dụ ở đây, món ăn tốn x thời gian, các công đoạn cũng tốn x' thời gian.</p>

        <p>Nếu như ta tách các object ra độc lập, thì việc xây dựng nó sẽ rất phiền hà, khi ta phải lặp lại việc gọi các method ở nhiều chỗ khác nhau.</p>

        <p>Thay vào đó, tại sao ta không gom nó thành một nhóm, và dùng một method cho toàn bộ.</p>

        <p>Kĩ thuật đó gọi là Composite.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>

      <div class="card-body">
        <blockquote>
          A Composite Pattern says that just "allow clients to operate in generic manner on objects that may or may not represent a hierarchy of objects".
        </blockquote>

        <p>Bản chất của Composite đó là chia một Object thành một cây. Do đó, việc tương tác với Object, cũng giống như ta
          tương tác với từng Node của nó vậy.</p>

        <p>Composite hữu ích khi sử dụng với các Object mà dạng cây.</p>

        <p>Nói cách khác, Composite chia một đối tượng thành các đối tượng con, và ta sẽ làm việc với từng đối tượng con của nó. </p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implements
      </div>

      <div class="card-body">
        <p>Bản chất của composite đó là gom các object tương tự nhau thành một, implement method chung cho nó, sau đó sử dụng một cái thằng component để
          chứa toàn bộ, và cũng dùng component đó để thao tác hàng loạt.</p>

        <p>Theo như nội dung trên, ta sẽ xây dựng nó như sau :</p>

        <blockquote>
          <ol>
            <li>Xây dựng các interface khai báo các method chung.</li>
            <li>Các nút lá</li>
            <li>Composite object (chứa các nút lá ở trên).</li>
          </ol>
        </blockquote>

        <img src="../assets/design_pattern/uml_diagram/composite_pattern_uml_diagram.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages & Disadvantages
      </div>

      <div class="card-body">
        <p>Ưu điểm của Composition đó là cho phép ta xây dựng các hệ thống phân cấp bao gồm các đối tượng nguyên thủy (Leaf) và
        phức tạp (Node)</p>

        <p>Dễ dàng bổ sung thêm các components mới.</p>

        <p>Cung cấp một cấu trúc linh hoạt với Class/Interface có thể quản lý.</p>

        <p>Nhược điểm của cái này đó là debug hơi mệt xí thôi. Mà cũng chả sao, viết bình thường có khi còn debug mệt hơn ấy chứ.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Summary
      </div>

      <div class="card-body">
        <p>Tóm lại, có 2 điều đáng ghi nhớ ở đây:</p>

        <p>
          Composite pattern nên được áp dụng khi một nhóm các object hoạt động tương tự như 1 object đơn - Tức là các object
          phải có behavior giống nhau.
        </p>

        <p>Composite design pattern có thể được sử dụng để tạo ra một cấu trúc phân cấp (dù là đầy đủ hoặc 1 phần).</p>

        <p>Nó cũng có thể được sử dụng khi ta muốn bổ sung các thành phần khác vào mà không làm thay đổi tới các đối tượng khác,
        đặc biệt trong trường hợp reponsibility - trách nhiệm của đối tượng có thể thay đổi theo thời gian.</p>
      </div>
    </div>
  </div>
</div>
