<mat-toolbar>
  <span>Khanh Tran Documentation</span>
</mat-toolbar>


<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <h3>Please select one of list lesson:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>
            <a [routerLink]="['/angular']" preserveQueryParams preserveFragment>Angular</a>
          </mat-card-title>
          <mat-card-subtitle>Khanh Tran</mat-card-subtitle>
        </mat-card-header>
        <a [routerLink]="['/angular']" preserveQueryParams preserveFragment>
          <img  class="lesson-icon" mat-card-image src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/300/full/angular2.png" alt="Angular IO">
        </a>
        <mat-card-content>
          <p>
            Trong module này ta sẽ tổng hợp các bài học về Angular, cách xây dựng 1 Ứng dụng Angular từ cơ bản đến nâng cao
            trong một môi trường thực tế.
          </p>

          <p>Tác giả khi viết các bài học này cũng chưa thực sự master về Angular. Vì vậy, các bài học có thể đúng hoặc sai. Cần xem xét.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>
            <a [routerLink]="['/java']" preserveQueryParams preserveFragment>Java</a>
          </mat-card-title>
          <mat-card-subtitle>Khanh Tran</mat-card-subtitle>
        </mat-card-header>
        <a [routerLink]="['/java']" preserveQueryParams preserveFragment>
          <img  class="lesson-icon" mat-card-image
                                                                                        src="https://cdn.vox-cdn.com/thumbor/_AobZZDt_RVStktVR7mUZpBkovc=/0x0:640x427/1200x800/filters:focal(0x0:640x427)/cdn.vox-cdn.com/assets/1087137/java_logo_640.jpg" alt="Java">
        </a>
        <mat-card-content>
          <p>
            Phần này ta sẽ tìm hiểu về Java, cụ thể thì là các OOP của Java. Có thể có các lesson khác về các mục cao hơn
            của Java nhưng sẽ ít đề cập đến.
          </p>

          <p>Sau khi học xong Lesson này, ta sẽ có 1 cái nhìn toàn diện về các tính chất của OOP mà đặc biệt là trong Java.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>
            <a [routerLink]="['/design-pattern']" preserveQueryParams preserveFragment>Design Pattern</a>
          </mat-card-title>
          <mat-card-subtitle>Khanh Tran</mat-card-subtitle>
        </mat-card-header>
        <a [routerLink]="['/design-pattern']" preserveQueryParams preserveFragment>
          <img  class="lesson-icon" mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI3O8-D80zzqVsUU0wpl1xMRX3ArtrxjQkbCuJyfGl3h-wJtuVrg" alt="Design Pattern">
        </a>
        <mat-card-content>
          <p>
            Design Pattern là một chuyên đề khá hay. Nó khiến cho các principle của OOP được đảm bảo và đưa ra các mẫu thiết
            kế nhằm giải quyết các bài toán cụ thể.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>
            <a [routerLink]="['/spring-framework']" preserveQueryParams preserveFragment>Spring Framework</a>
          </mat-card-title>
          <mat-card-subtitle>Khanh Tran</mat-card-subtitle>
        </mat-card-header>
        <a [routerLink]="['/spring-framework']" preserveQueryParams preserveFragment>
          <img  class="lesson-icon" mat-card-image src="https://spring.io/img/homepage/icon-spring-framework.svg" alt="Spring Framework">
        </a>
        <mat-card-content>
          <p>
            Spring Framework là 1 thư viện nổi tiếng của Java. Theo quá trình phát triển, giờ đây ta cần xây dựng các ứng dụng 1
            cách nhanh chóng. Và vì vậy, trong Framework này ta sẽ đi sâu vào tìm hiểu spring boot, cái framework chủ yếu được sử
            dụng cho micro-service vì tính nhanh chóng của nó.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>
            <a [routerLink]="['/micro-service']" preserveQueryParams preserveFragment>Micro Service</a>
          </mat-card-title>
          <mat-card-subtitle>Khanh Tran</mat-card-subtitle>
        </mat-card-header>
        <a [routerLink]="['/micro-service']" preserveQueryParams preserveFragment>
          <img class="lesson-icon" mat-card-image src="https://www.openlegacy.com/hubfs/Partner%20Portal/cube2.svg" alt="Micro Service">
        </a>
        <mat-card-content>
          <p>
           Chuyên đề này tập trung vào phần Architecture. Ta sẽ cùng tìm hiểu về các tính chất của nó, nguyên tắc và cách xây dựng.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>
            <a [routerLink]="['/database']" preserveQueryParams preserveFragment>Database</a>
          </mat-card-title>
          <mat-card-subtitle>Khanh Tran</mat-card-subtitle>
        </mat-card-header>
        <a [routerLink]="['/database']" preserveQueryParams preserveFragment>
          <img class="lesson-icon" mat-card-image src="https://www.gridgain.com/themes/gridgain1185/images/icons/website-icons/purple/svg/purple_IMDB.svg" alt="Database">
        </a>
        <mat-card-content>
          <p>
            Trong chuyên đề này, ta cùng tìm hiểu về Database, về 2 loại database, RDBMS và NON-SQL.
          </p>
        </mat-card-content>
      </mat-card>


    </div>
  </div>
</div>

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <!--<mat-card class="example-card">-->
        <!--<mat-card-header>-->
          <!--&lt;!&ndash;<div mat-card-avatar class="example-header-image"></div>&ndash;&gt;-->
          <!--<mat-card-title>Shiba Inu</mat-card-title>-->
          <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        <!--</mat-card-header>-->
        <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <!--<mat-card-content>-->
          <!--<p>-->
            <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
            <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
            <!--bred for hunting.-->
          <!--</p>-->
        <!--</mat-card-content>-->
        <!--<mat-card-actions>-->
          <!--<button mat-button>LIKE</button>-->
          <!--<button mat-button>SHARE</button>-->
        <!--</mat-card-actions>-->
      <!--</mat-card>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<app-footer></app-footer>
