<h1>Install boostrap for Angular</h1>

<section class="article">
  <h3>Install Boostrap</h3>

  <p>Ngồi nhìn cái giao diện nó xấu quá, định dùng Material nhưng có vẻ ko đẹp bằng nên quyết định đi install boostrap vào cho đẹp</p>

  <p>Lesson này chỉ là chỉ cách cài đặt và sử dụng Boostrap mà thôi.</p>


  <p>Nào, cùng tiến hành thôi. </p>


  <h4>Bước 1, install ng-boostrap</h4>

  <blockquote>
    npm install ngx-bootstrap bootstrap --save
  </blockquote>

  <h4>Bước 2, add boostrap vào template</h4>


  <p>Mở file angular.json và add thêm đoạn này vào</p>

  <blockquote>
    "styles": [<br />
    &nbsp; &nbsp; "./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css",<br />
    &nbsp; &nbsp; "./node_modules/bootstrap/dist/css/bootstrap.min.css",<br />
    "src/styles.scss"<br />
    ],
  </blockquote>

</section>
