<h3 class="mb-3">Install boostrap for Angular</h3>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Overview
      </div>

      <div class="card-body">
        <p class="card-text">Trước khi đi vào sâu Angular, ta cần tìm hiểu một phần không thể thiếu được, đó là Bootstrap.</p>

        <p class="card-text">Boootstrap là gì, tại sao ta nên sử dụng Bootstrap cho Front-End. Đây chính là những vấn đề cần quan tâm và cũng là
          động lực để bạn dành một chút ít thời gian tìm hiểu về nó.</p>

        <p class="card-text">Bootstrap đơn giản là 1 framework của front-end. Nó là tổng hợp của nhiều component và các plugin chạy ngầm ở dưới.
          Việc sử dụng bootstrap rất đơn giản, bạn chỉ cần đọc documentation của nó, sử dụng theo đúng như những gì đã được hướng dẫn,
          bỏ cái layout đó vào, ấn rebuild  và bùm, mọi thứ nó trở nên vô cùng tuyệt vời mà chính bản thân bạn cũng không biết/ hoặc không
          cần biết vì sao mà nó tạo ra chúng.</p>

        <p class="card-text">Về mặt cơ bản, bootstrap là những quy tắc, những template, vì vậy bạn cần phải nhớ nó, khai báo các thuộc tính cho phù hợp,
          các class cho chính xác là xong.</p>

        <p class="card-text">Vậy, ta có cần phải ghi nhớ các template của Bootstrap này không?</p>

        <p class="card-text">Câu trả lời là có cũng được, mà không cũng không sao. Nếu bạn ko nhớ, bạn có thể google 1 phát, 1 dống kết quả xuất hiện, hoặc
          vào ngay trang chủ của nó, đọc document và tìm ra component nào thích hợp cho bạn. Thế là xong. Tuy nhiên, nếu như bạn có thể nhớ nó thì
          tốc độ công việc sẽ nhanh hơn nào, có phải không. Vì vậy, tốt nhất là nên biết nhiều nhiều một tí.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Những ưu điểm của Bootstrap là gì?
      </div>

      <div class="card-body">
        <p>Đầu tiên phải kể đến đó là khả năng tương thích tuyệt vời trên các trình duyệt, các thiết bị điện thoại. Ngày xưa lúc
          chưa có Bootstrap, đối với mỗi thiết bị người ta phải xây dựng cho nó một subsystem riêng để tương thích. Nếu quay lại các
          hệ thống cũ, bạn vẫn còn gặp đâu đó các domain m.facebook.com chẳng hạn, đó là 1 ví dụ của việc phải xây dựng 1 system riêng
          cho các thiết bị di động, mà chưa chắc cái đó đã có thể tương thích với hầu hết các thiết bị hiện tại hoặc trong tương lai.</p>

        <p>Bootstrap là một giải pháp tuyệt vời cho việc responsive trên multiple device. Chỉ cần sử dụng đúng, bạn sẽ không cần
          quan tâm nó đang là chrome hay edge, sử dụng cho ipad hay iphone. Mọi thứ đều rất tuyệt với khi ban thử trải nghiệm sản phẩm
          trên các thiết bị khác nhau.</p>

        <p>Thêm một điểm nữa đó là sự thống nhất. Vì Bootstrap định ra những template và bắt người sử dụng phải follow nó, nên
          rất dễ dàng để một member mới join vào project. Họ sẽ cảm thấy mọi thứ quen thuộc như những dự án cũ mà họ đã trải qua. Tôi cũng
          thử làm các template mà không sử dụng Bootstrap, và thật tồi tệ khi mọi thứ trở nên rối rắm, phức tạp và 1 đống code dư
          thừa mà không ai biết nó dùng để làm gì cả.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Vậy nhược điểm của nó là gì.
      </div>

      <div class="card-body">
        <p>Bootstrap không phải là tuyệt vời đến mức bạn có thể giải quyết mọi thứ bằng nó. Đôi khi bạn cần phải sử dụng các plugin từ bên ngoài
          và nó có thể bị ảnh hưởng bởi các stylesheet của Bootstrap làm bạn phải mất công đi custom lại nó.</p>

        <p>Bootstrap đòi hỏi phải tuân thủ đúng quy tắc. Những quy tắc này là nhàm chán và có thể bạn sẽ không thật sử thích thú khi sử
          dụng nó - như mình chẳng hạn. Ngoài ra việc tuân thủ theo những quy tắc khiến bạn mất một chút thời gian để có thể hiểu hết về nó.</p>

        <p>Tuy nhiên, những nhược điểm trên không thể nào khiến người ta phủ nhận những lợi ích to lớn mà Bootstrap mang lại. Vì vậy, nếu làm
          front-end thì chắc chắn bạn cần biết về nó. :)</p>


        <p>Thôi chém gió thế đủ rồi, giờ ta hãy cùng bắt đầu với bài học hôm nay nào. Bootstrap for Angular.</p>

        <p>ps: tài liệu của Bootstrap 4 bạn có thể xem tại đây <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">getbootstrap.com</a> </p>

      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Cài đặt bootstrap
      </div>

      <div class="card-body">
        <p>Để sử dụng bootstrap thì ta phải install nó trước đã.</p>

        <blockquote>
          npm install ngx-bootstrap bootstrap --save
        </blockquote>

        <p>Sau đó, ta vào file angular.json, tìm tới cái đoạn style, và bỏ thêm cái css của boostrap vào.</p>

        <blockquote>
          "styles": [<br />
          &nbsp; &nbsp; "./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css",<br />
          &nbsp; &nbsp; "./node_modules/bootstrap/dist/css/bootstrap.min.css",<br />
          "src/styles.scss"<br />
          ],
        </blockquote>

        <p>Và tiếp theo nữa, vào đây mà xem cách sử dụng các component của <a href="https://devdocs.io/bootstrap~4-components-badges/" target="_blank">ng-bootstrap</a> cho Angular thôi.</p>

        <p>Bài viết sử dụng Bootstrap 4. Bạn có thể tham khảo về document tại <a href="https://getbootstrap.com/docs/4.3/components/card/" target="_blank">đây</a>.</p>
      </div>
    </div>
  </div>
</div>









