<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': toggleMenu}"  id="navbarText" (click)="toggleMenuBar()">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="nav-link" mat-button>Home <span class="sr-only">(current)</span></button>
        </li>

        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="english">English</button>

          <mat-menu #english="matMenu">
            <button mat-menu-item [routerLink]="['/english/pronunciation']">Pronunciation</button>
            <button mat-menu-item [routerLink]="['/english/vocabulary-workshop']">Vocabulary Workshop</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>
            <button mat-menu-item [routerLink]="['/english/lesson-01']">Lesson 01</button>

          </mat-menu>
        </li>

        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="angular">Angular</button>

          <mat-menu #angular="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Angular Core</button>
            <button mat-menu-item [routerLink]="['/angular/ng-basic']">Angular Basic</button>
            <button mat-menu-item [routerLink]="['/angular/ng-component']">Angular Component</button>
            <button mat-menu-item [routerLink]="['/angular/ng-service']">Angular Service</button>
            <button mat-menu-item [routerLink]="['/angular/bootstrap']">Bootstrap</button>
            <button mat-menu-item [routerLink]="['/angular/ng-bootstrap']">Ng-Bootstrap</button>
            <button mat-menu-item [routerLink]="['/angular/ng-form']">Angular Form</button>
            <button mat-menu-item [routerLink]="['/angular/router']">Router</button>
            <button mat-menu-item [routerLink]="['/angular/ng-lazy-loader']">Layzy Loader</button>
            <button mat-menu-item [routerLink]="['/angular/ng-dom']">Angular DOM</button>
            <button mat-menu-item [routerLink]="['/angular/ng-data-architecture']">Angular Data Architecture</button>
            <button mat-menu-item [routerLink]="['/angular/ng-testing']">Angular Testing</button>
            <button mat-menu-item [routerLink]="['/angular/ng-help']">Angular Help</button>
          </mat-menu>
        </li>

        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="java">Java</button>

          <mat-menu #java="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="Java_JVM_Architecture">JVM Architecture </button>
            <button mat-menu-item [matMenuTriggerFor]="Java_core">Java Core</button>
            <button mat-menu-item [matMenuTriggerFor]="Java_advance">Java Advance</button>
            <button mat-menu-item [matMenuTriggerFor]="Java_concurrency">Concurrency in Java</button>
          </mat-menu>

          <mat-menu #Java_JVM_Architecture="matMenu">
            <button mat-menu-item [routerLink]="['/java/jvm-architecture']">Overview</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Lesson 2</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Components of JDK</button>
          </mat-menu>

          <mat-menu #Java_core="matMenu">
            <button mat-menu-item [routerLink]="['/java/java-core/object']">Object in Java</button>
            <button mat-menu-item [routerLink]="['/java/java-core/class']">Class in Java</button>
            <button mat-menu-item [routerLink]="['/java/java-core/interface']">Interface in Java</button>
            <button mat-menu-item [routerLink]="['/java/java-core/marker-interface']">What is Marker Interface</button>
            <button mat-menu-item [routerLink]="['/java/java-core/abstract-class']">Abstract Class in Java</button>

            <button mat-menu-item [matMenuTriggerFor]="Java_inheritance">Inheritance in Java</button>
            <button mat-menu-item [matMenuTriggerFor]="Java_polymorphism">Polymorphism in Java</button>
            <button mat-menu-item [matMenuTriggerFor]="Java_encapsulation">Encapsulation in Java</button>
            <button mat-menu-item [matMenuTriggerFor]="Java_keywords">Java Keywords</button>
          </mat-menu>


          <mat-menu #Java_inheritance="matMenu">
            <button mat-menu-item [routerLink]="['/java/ng-core']">Inheritance in Java</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Types of Inheritance in Java</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Single Inheritance in Java</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Multiple Inheritance in Java</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Multilevel Inheritance in Java</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Hierarchical Inheritance in Java</button>
            <button mat-menu-item [routerLink]="['/java/ng-core']">Hybrid Inheritance in Java</button>
          </mat-menu>

          <mat-menu #Java_polymorphism="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Polymorphism in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Method Overloading and Overriding</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Types of Polymorphism in java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Method Overriding in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Can we Overload static methods in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Can we Override static methods in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Java Constructor Overloading</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Java Method Overloading Example</button>
          </mat-menu>

          <mat-menu #Java_encapsulation="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Encapsulation in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Constructor in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Constructor in an Interface?</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Parameterized Constructor in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Constructor Chaining with example</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">What is the use of a Private Constructors in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 4</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 5</button>
          </mat-menu>


          <mat-menu #Java_keywords="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Java this keyword</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Java super keyword</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Final Keyword in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Static Keyword in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Static Import</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Transient Keyword</button>
          </mat-menu>


          <mat-menu #Java_advance="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">newInstance() method</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">How does Hashmap works internally in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Java Ternary operator</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">How System.out.println() really work?</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Autoboxing and Unboxing Examples</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Serialization and Deserialization in Java with Example</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Generate SerialVersionUID in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">How to make a class Immutable in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Differences between HashMap and Hashtable</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Difference between Enumeration and Iterator ?</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Difference between fail-fast and fail-safe Iterator</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Difference Between Interface and Abstract Class in Java</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Difference between equals() and ==</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Sort Objects in a ArrayList using Java Comparable Interface</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Sort Objects in a ArrayList using Java Comparator</button>

          </mat-menu>

          <mat-menu #Java_concurrency="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 1</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 2</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 3</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 4</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 5</button>
          </mat-menu>
        </li>

        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="oop">OOP</button>

          <mat-menu #oop="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="oop_principal">OOP Principal</button>
            <button mat-menu-item [matMenuTriggerFor]="oop_advance">OOP Advance</button>
          </mat-menu>


          <mat-menu #oop_principal="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 1</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 2</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 3</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 4</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 5</button>
          </mat-menu>

          <mat-menu #oop_advance="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 1</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 2</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 3</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 4</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 5</button>
          </mat-menu>
        </li>

        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="design_pattern">Design Pattern</button>

          <mat-menu #design_pattern="matMenu">
            <button mat-menu-item [routerLink]="['/design-pattern/overview']">Overview</button>

            <button mat-menu-item [matMenuTriggerFor]="creational_pattern">Creational Pattern</button>
            <button mat-menu-item [matMenuTriggerFor]="structural_pattern">Structural Pattern</button>
            <button mat-menu-item [matMenuTriggerFor]="behavoral_pattern">Behavioral Pattern</button>

            <button mat-menu-item [matMenuTriggerFor]="implement_pattern">Advance</button>

            <button mat-menu-item [matMenuTriggerFor]="micro_service">Micro Service</button>
          </mat-menu>

          <mat-menu #creational_pattern="matMenu">
            <button mat-menu-item [routerLink]="['/design-pattern/factory']">Factory Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/abstract-factory']">Abstract Factory Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/singleton']">Singleton Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/builder']">Builder Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/prototype']">Prototype Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/object-pool']">Object Pool Pattern</button>
          </mat-menu>

          <mat-menu #structural_pattern="matMenu">
            <button mat-menu-item [routerLink]="['/design-pattern/adapter']">Adapter Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/bridge']">Bridge Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/composite']">Composite Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/decorate']">Decorate Pattern</button>

            <button mat-menu-item [routerLink]="['/design-pattern/facade']">Facade Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/flyweight']">Flyweight Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/proxy']">Proxy Pattern</button>
          </mat-menu>

          <mat-menu #behavoral_pattern="matMenu">
            <button mat-menu-item [routerLink]="['/design-pattern/chain-of-responsibility']">Chain of Responsibility Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/command']">Command Pattern</button>

            <button mat-menu-item [routerLink]="['/design-pattern/interpreter']">Interpreter Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/iterator']">Iterator Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/mediator']">Mediator Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/memento']">Memento Pattern</button>

            <button mat-menu-item [routerLink]="['/design-pattern/observer']">Observer Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/state']">State Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/template']">Template Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/strategies']">Strategies Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/visitor']">Visitor Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/dependence-injection']">DI Pattern</button>
          </mat-menu>

          <mat-menu #implement_pattern="matMenu">
            <button mat-menu-item [routerLink]="['/design-pattern/dependence-injection']">DI Pattern</button>
            <button mat-menu-item [routerLink]="['/design-pattern/mcv']">MCV Pattern</button>
          </mat-menu>


          <mat-menu #micro_service="matMenu">
            <button mat-menu-item [routerLink]="['/micro-service/overview']">Overview</button>
            <button mat-menu-item [routerLink]="['/micro-service/decompose-service']">Decompose Service</button>
          </mat-menu>
        </li>

        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="spring_frameWork">Spring FrameWork</button>

          <mat-menu #spring_frameWork="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 1</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 2</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 3</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 4</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 5</button>
          </mat-menu>
        </li>

        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="hibernate">Hibernate</button>

          <mat-menu #hibernate="matMenu">
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 1</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 2</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 3</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 4</button>
            <button mat-menu-item [routerLink]="['/angular/ng-core']">Lesson 5</button>
          </mat-menu>
        </li>

        <li class="nav-item">
          <button class="nav-link disabled" mat-button>Add More</button>
        </li>
      </ul>

      <span class="navbar-text">

      </span>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <span class="navbar-text">
        <button class="nav-link" mat-menu-item>Login</button>
      </span>
    </div>
  </div>
</nav>
