<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Memento Design Pattern - Behavioral Pattern</h2>

      <p>Không vi phạm encapsulation, nhưng vẫn có thể capture và external trạng thái nội bộ của 1 đối tượng để đối tượng
      có thể được phục hồi/trả về trạng thái này sau đó.</p>

      <p>Cung cấp 1 cookie đóng gói 1 check point.</p>

      <p>Cung cấp undo roll back operation</p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        <p>Công việc của anh phục vụ đó là ghi các order của khách hàng. Tuy nhiên có những khách hàng rất kì cục, đang đọc giữa chừng
          thì đột nhiên lại thay đổi ý định. Điều này khiến cho cái ghi chép của anh trở thành công cốc, và anh lại phải xé đi để ghi lại tờ khác.</p>

        <p>Anh ước rằng, có thể có 1 công cụ để mà giải quyết vấn đề đó</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Giải pháp
      </div>

      <div class="card-body">
        <p>Vậy là anh nghĩ ra 1 cách. Thay vì viết 1 hàng liền tù tì các danh sách, thì giờ đây anh quyết định mỗi lúc khách
          hàng yêu cầu, anh lại thêm vào 1 dòng mới, nếu khách hàng cancel anh sẽ bỏ cái dòng đó đi. Cách này tuy ko giải
        quyết được triệt để vấn đề nhưng ít ra nó cũng khiến công việc của anh đỡ  vất vảđi 1 chút.</p>


        <p>Nếu là 1 người lập trình theo hướng OOP, ai cũng đều biết 4 thuộc tính cơ bản đó là tình trừu tượng (abstract),
          tính kế thừa (inheritance), tính đa hình (polymorphism), và tính đóng gói (encapsulation). Trong đó, tính đóng gói sẽ che dấu đi
          các state của đối tượng từ bên ngoài.</p>

        <p>Trở lại với bài toàn này, khi ta muốn "revert" 1 object, tức là ta sẽ cần phải can thiệp vào state của nó, để revert lại trạng
          thái trước đó. Tuy nhiên, nếu ta can thiệp 1 cách thô bạo, thì ta đã vi phạm tính đóng gói của nó rồi.</p>

        <p>Design này sẽ giải quyết vấn đề đó. Nó cho phép ta có thể revert lại 1 trạng thái trước đó mà vẫn tuân thủ tính đóng gói của OOP.</p>

      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>

      <div class="card-body">
        <blockquote>
          to restore the state of an object to its previous state
        </blockquote>

        <blockquote>The Memento pattern is also known as Token.</blockquote>

        <p>Trong lập trình, đôi khi ta gặp trường hợp cần redo lại 1 đối tượng ở trại thái trước đó.</p>

        <p>Client yêu cầu 1 Memetor từ source object khi nó cần kiểm tra trạng thái của đối tượng này. Source object khởi tạo
        memeto cùng với đặc tính trạng thái của nó. Client take-care Memetor, nhưng chỉ có source object mới có thể lưu trữ
        và truy xuất thông tin từ Memetor. Nếu client cần khôi phục lại trạng thái của source object, nó sẽ trao lại Memeto
        cho soủce object để phục hồi.</p>

        <p>Khả năng undo và redo không giới hạn có thể được thực hiện dễ dàng với 1 stack Command Objects và 1 stach Menmetor
        Object.</p>

        <p>Memetor Pattern xác đin hj 3 vai trò riêng biệt</p>

        <ul>
          <li>Original - đối tượng biết cách tự phục hồi/save chính nó</li>
          <li>Caretaker - Đối tượng biết tại sao và khi nào mà Original cần hải sao lưu và khôi phục chính nó.</li>
          <li>Memetor - lock box được viết và đọc bởi Original và được CareTaker che đấu/quản lý.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implements
      </div>

      <div class="card-body">
        <p>Các bước implement như sau:</p>

        <ol>
          <li>Xác định vai trò của care taker và Originator.</li>

          <li>Tạo 1 Memento Class và khai báo Originator là 1 friend của nó</li>

          <li>Care Taker cần biết khi nào cần "checkpoint" originator</li>

          <li>Originator khởi tạo 1 Memento và copy trạng thái của nó sang Memento này</li>

          <li>Care taker sẽ giữ cái Memento này như 1 checkpoint mà nó cần. Tuy nhiên nó sẽ ko thể nhìn thấy bên trong của Memento này được.</li>

          <li>Care taker cần biết khi nào cần rollback originator</li>

          <li>Originator tự rollback data của nó theo trạng thái bên trong của Memento.</li>
        </ol>

        <p>Khái niệm friend ở đây có vẻ hơi không rõ ràng. Ta xem lại các access modifier. Friend là có thể nhìn thấy nhau.
        Đối với Java nó chính là các inner class miễn sao các method của nó không được truy cập từ bên ngoài để đảm bảo tính
          private cho Originator.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages & Disadvantages
      </div>

      <div class="card-body">
        <h5>Advantages</h5>

        <p>Điều đầu tiên phải kể đến, đó là khả năng can thiệp vào internal state của object mà không vi phạm encapsulation.</p>

        <p>Và nó khiến cho Originator trở nên đơn giản hơn</p>

        <!--<h5>Disadvantages</h5>-->

        <!--<p>__________</p>-->

        <h5>Usage</h5>

        <p>Chính những tính chất trên mà nó thường được sử dụng cho các undo operation</p>

        <p>Và ngoài ra nó cũng được sử dụng trong transaction.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Summary
      </div>

      <div class="card-body">
        <p>Command và Memento đóng vai trò là các magic token được truyền vào và gọi lại sau đó. Trong Command, token đại
        diện cho 1 request. Trong Memento, toker đại diện cho trạng thái bên trong của 1 Object tại 1 thời điểm cụ thể.</p>

        <p>Polymorphism là điều quan trọng cần chú ý trong Command, nhưng không phải trong Memento bởi vì phạm vi của Memento
        rất hạn hẹp, hạn hẹp đến mức mà memento có thể được gửi đi như 1 giá trị (thay vì 1 object). Thứ mà memento hướng
        đến đó là đảm bảo encapsulation.</p>

        <p>Command có thể sử dụng Memento để maintain trạng thái nhằm hỗ trợ cho Undo Operation</p>

        <p>Memento thường được kết hợp với Iterator. Một Iterator sử dụng Memento để lưu lại trạng thái của 1 lần lặp. Nó lưu
        trừ Mementor ngay chính bên trong bản thân nó - thay thế cho CareTaker (Tức là thằng này vừa là Originator, vừa là CareTaker luôn).</p>
      </div>
    </div>
  </div>
</div>
