<h3 class="mb-3">English Vocabulary Workshop</h3>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        English Vocabulary Workshop
      </div>

      <div class="card-body">
        <p>Phương pháp này sử dụng 4 bước để ghi nhớ từ vựng dễ dàng.</p>

        <ol>
          <li>Listen</li>
          <li>Imaging</li>
          <li>Action</li>
          <li>Emotion</li>

        </ol>
      </div>
    </div>
  </div>
</div>



<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Feeling.
      </div>

      <div class="card-body">
        <h5>New words</h5>

        <table class="table table-bordered">
          <tr>
            <th style="width: 50%">New words</th>
            <th style="width: 50%">Meaning</th>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A casual T-shirt'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A joyful girl'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'An angry old lady'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A scared boy'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A tired old man'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>

          <tr>
            <td ><app-eng-paragraph [paragraph]="'A calm women'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>


          <tr>
            <td><app-eng-paragraph [paragraph]="'Playful children'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>

          <tr>
            <td ><app-eng-paragraph [paragraph]="'A sad man'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>


          <tr>
            <td><app-eng-paragraph [paragraph]="'A happy couple'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A sleepy baby'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>
        </table>

        <h5>Passage</h5>

        <app-eng-paragraph [paragraph]="'I’m a popcorn seller'"></app-eng-paragraph>.
        <app-eng-paragraph [paragraph]="'Today I met many people'"></app-eng-paragraph>.<br />
        <br />

        <app-eng-paragraph [paragraph]="'First I met a'"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'joyful girl'"></app-eng-paragraph>.
        <app-eng-paragraph [paragraph]="'She said she got 10 points for her exam'"></app-eng-paragraph>.<br />
        <br />


        <app-eng-paragraph [paragraph]="'Then I met an'"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'angry old lady'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'and a'"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'scared boy'"></app-eng-paragraph>.
        <app-eng-paragraph [paragraph]="'He was the the old lady’s grandchild.'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'He broke her glasses, that’s why the grandma was so angry.'"></app-eng-paragraph><br />
        <br />


        <app-eng-paragraph [paragraph]="'Then a'"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'tired old man'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'came to me'"></app-eng-paragraph>.
        <app-eng-paragraph [paragraph]="'He looked so tired and hungry.'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'He bought a lot of popcorn.'"></app-eng-paragraph>


        <app-eng-paragraph [paragraph]="'Then, I saw a '"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'calm woman'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'and a group of '"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'playful children'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'There were 20 kids running around, but she looked so calm. She’s the coolest teacher!'"></app-eng-paragraph>


        <app-eng-paragraph [paragraph]="'I also sold popcorn to a'"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'sad man'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'. I asked why he looked so sad but he didn’t answer.'"></app-eng-paragraph>



        <app-eng-paragraph [paragraph]="'Then I saw a '"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'happy couple'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'and their'"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'sleepy baby'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'Oh the baby was so cute!'"></app-eng-paragraph>


        <app-eng-paragraph [paragraph]="'Finally, an'"></app-eng-paragraph>
        <app-eng-paragraph class="hidden-field"  [paragraph]="'excited fan'"></app-eng-paragraph>
        <app-eng-paragraph [paragraph]="'ran to me, hugged me and yelled “We won!”. He bought all the popcorn I had left.'"></app-eng-paragraph>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Clothes.
      </div>

      <div class="card-body">
        <h5>New words</h5>

        <table class="table table-bordered">
          <tr>
            <th style="width: 50%">New words</th>
            <th style="width: 50%">Meaning</th>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A casual T-shirt'"></app-eng-paragraph></td>
            <td>Áo phông</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A formal shirt'"></app-eng-paragraph></td>
            <td>Áo sơ mi trắng trang trọng</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A Short skirt'"></app-eng-paragraph></td>
            <td>Váy ngắn</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A long dress'"></app-eng-paragraph></td>
            <td>Váy dài</td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'Tight jeans'"></app-eng-paragraph></td>
            <td>Quần jean bó</td>
          </tr>

          <tr>
            <td ><app-eng-paragraph [paragraph]="'A small watch'"></app-eng-paragraph></td>
            <td>Đồng hồ nhỏ</td>
          </tr>


          <tr>
            <td><app-eng-paragraph [paragraph]="'High heels'"></app-eng-paragraph></td>
            <td>Giày cao gót</td>
          </tr>

          <tr>
            <td ><app-eng-paragraph [paragraph]="'New Glasses'"></app-eng-paragraph></td>
            <td>Kính mới</td>
          </tr>


          <tr>
            <td><app-eng-paragraph [paragraph]="'Old shoes'"></app-eng-paragraph></td>
            <td></td>
          </tr>

          <tr>
            <td><app-eng-paragraph [paragraph]="'A sleepy baby'"></app-eng-paragraph></td>
            <td>___________________________</td>
          </tr>
        </table>

        <h5>Passage</h5>

        <app-eng-paragraph [paragraph]="clothePassage"></app-eng-paragraph>

      </div>
    </div>
  </div>
</div>

<!--<table class="table table-bordered">-->
  <!--<tr>-->
    <!--<td  style="width: 50%">____________</td>-->
    <!--<td  style="width: 50%">____________</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>____________</td>-->
    <!--<td >____________</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>____________</td>-->
    <!--<td >____________</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>____________</td>-->
    <!--<td >____________</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>____________</td>-->
    <!--<td >____________</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>____________</td>-->
    <!--<td >____________</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>____________</td>-->
    <!--<td >____________</td>-->
  <!--</tr>-->
<!--</table>-->
