<h1>Router Advance</h1>

<section class="article">
  <h3>Overview</h3>

  <p>Trong bài học này ta cùng đi sâu vào các phần bên trong của Router, cụ thể là router parameters</p>

  <p>Về mặt cơ bản, nếu như làm seo, ta hẳn sẽ quen thuộc với các kiểu format url, để tránh việc đưa các param vào trong url, làm giảm index
  của Google khi đánh số.</p>

  <p>Do đó, cũng như bao ngôn ngữ khác, angular cũng hỗ trợ một cách thức để có thể khai báo cái param trong url mà không làm
  cái URL trở nên "xấu đi". </p>

  <p>Trong bài học này, ta sẽ tìm hiểu cách khai báo param và cách sử dụng nó.</p>

</section>

<section class="article">


</section>

<section class="article">


</section>

