<h3 class="mb-3">Angular Component</h3>



<!--<div class="row mb-3">-->
  <!--<div class="col-12">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Angular Component-->
      <!--</div>-->

      <!--<div class="card-body">-->
        <!--<p>Ở bài học này ta sẽ đi sâu vào các phần sau:</p>-->

        <!--<ul>-->
          <!--<li>Khai báo biến</li>-->
          <!--<li>Hiển thị biến lên màn hình</li>-->
          <!--<li>Condition với ngIf, ngSwitch</li>-->
          <!--<li>Vòng lặp với ngFor</li>-->
          <!--<li>Input, outPut và các lấy các param từ router.</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->




<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Variable and Operations
      </div>

      <div class="card-body">
        <p>Variable trong component đều là private.</p>

        <p>Đó là điều hiển nhiên vì mục đích của Component là render view chứ ko phải process data. Vì vậy data trong nó
        khi khai báo mặc định luôn là private.</p>

        <p>Việc khai báo 1 biến cũng khá dễ dàng. Bỏ nó trong class container, và lấy ra sử dụng thôi. Ví dụ:</p>

        <blockquote>
          {{sampleVariable}}
        </blockquote>

      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        @Input and @output
      </div>

      <div class="card-body">
        <p>Input và output là 1 phần vô cùng quan trọng của component. Giả sử bạn có 1 list các Person và bạn tạo 1 component để render ra cái container đó.</p>


        <p>Cùng tìm hiểu chi tiết nhé:</p>

        <h5>@input và param</h5>

        <p>Khi đó, để reuse lại thì bạn sẽ đưa các input vào để có thể từ bên ngoài truyền dữ liệu vào cho component này. Xem ví dụ.</p>

        <blockquote>
          <div *ngFor="let _person of personArray">
            <app-angular-input [person]="_person" (selectPerson)="listenEmitEventFromChild($event)"></app-angular-input>
          </div>
        </blockquote>


        <p>Trong ví dụ này, ta đã tách cái component render person thành 1 component riêng để có thể reuse ở nhiều vị trí khác nhau.</p>

        <p>Việc truyền input vào component có thể có 2 loại, 1 loại truyền trực tiếp theo component, một loại truyền thông qua param.
          Cùng update router và xem cái component sẽ hiển thị như thế nào nhé.</p>

        <blockquote>
          <a [routerLink]="['/angular/ng-component/view-person/100']">Click to view Person that has ID = 100.</a>
        </blockquote>

        <p>Thông qua 2 ví dụ trên, ta có thể hiểu các cách để truyền dữ liệu vào component rồi chứ. Nó có thể thông qua các input, hoặc cũng có thể
        thông qua các parameter từ router.</p>

        <p>Lưu ý, khi sử dụng parameter thì cần phải import cái RouterActive vào (bằng cách thêm vào trong constructor) nhé.</p>

        <h5>@Output </h5>

        <p>Output là nơi mà ta public các method của component ra ngoài để các component khác có thể can thiệp vào.</p>

        <p>Khi ta xem qua các component, ta sẽ thấy bản chất của component chỉ là render dữ liệu, bind các event đơn giản như click, onchange cho input này nọ.
        vậy, nếu muốn từ cái thằng con mà gọi lên 1 method của thằng cha thì ta làm như thế nào?</p>

        <p>Đó là lí do mà Angular cung cấp cái Ouput. Output là cái method mà ta sẽ sử dụng cho thằng con để có thể  emit các event ra cho các thằng cha đang listen nó.</p>

        <p>Trong ví dụ này, ta tạo 1 method có tên là selectNameOfPerson cho component này, và truyền nó vào cho mấy thằng con nhé.</p>

        <blockquote *ngIf="selectName != null">
          You has been selected <b>{{selectName}}</b>
        </blockquote>

        <p>Để tạo 1 ouput, ta làm như sau:</p>

        <p>Giả sử ta có 1 component cha, 'angular-comp-app và 1 list các component con bên trong template của nó : angular-input-app.</p>

        <p>Ta muốn lúc mà ta select Person Name ở component con, thì component cha sẽ update lại giá trị selectName của nó. Khi đó ta làm như sau:</p>

        <p>Vào component con, khai báo 1 @Output. @Output này là 1 EventEmitter. Ta có thể sử dụng alias (trong dấu '') để cho tiện gọi.</p>

        <p>Tạo 1 event cho component con, khi click vào 1 cái element nào đó thì nó sẽ emit cái event này lên.</p>

        <p>Ở ngoài component cha, có 2 loại đầu vào, 1 loại @input, và 1 loại @output. Ở đây ta sử dụng <b>(selectPerson)="listenEmitEventFromChild($event)"</b> để listen event này.</p>

        <p>Khai báo này có nghĩa, khi mà event selectPerson của component con được trigger, thì có 1 function listenEmitEventFromChild  của thằng cha sẽ listen cái event đó, và cái param $event này
        chính là param mà thằng con emit ra lúc trước.</p>


        <p>Vậy là ta đã đi qua các thông tin cơ bản của component. Bài tiếp theo ta sẽ tìm hiểu về các service.</p>

        <p>Nếu mà có vấn đề gì về các direction này, thì click và <b>ngIf</b> nó sẽ dẫn ta qua file ts chứa thông tin của angular. Vào đó đọc là biết nó support những
        cái nào và sử dụng ra làm sao.</p>
      </div>
    </div>
  </div>
</div>


