<h3 class="mb-3">Angular Component</h3>



<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Angular Component
      </div>

      <div class="card-body">
        <p>Ở bài học này ta sẽ đi sâu vào các phần sau:</p>

        <ul>
          <li>Khai báo biến</li>
          <li>Hiển thị biến lên màn hình</li>
          <li>Condition với ngIf, ngSwitch</li>
          <li>Vòng lặp với ngFor</li>
          <li>Input, outPut và các lấy các param từ router.</li>
        </ul>


      </div>
    </div>
  </div>
</div>


