<h3 class="mb-3">English Pronunciation</h3>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        English Pronunciation
      </div>

      <div class="card-body">
        <p>ở bài học này, chúng ta cùng tìm hiểu về các loại từ trong tiếng anh và cách phát âm từng loại.</p>

        <p>Trong tiếng anh, chúng ta có 2 loại từ chính, nguyên âm và phụ âm. Đối với nguyên âm ta lại có 2 loại, nguyên âm
        đơn và nguyên âm đôi. Mỗi loại nguyên âm đơn lại có 2 loại, nguyên âm ngắn và nguyên âm dài.</p>

        <p>Đối với phụ âm thì ta chia làm 2 loại, phụ âm sound và ko sound. Cái này sẽ bổ sung sau.</p>

        <p>Để dễ hơn ta sẽ vào tìm hiểu từng loại, chia thành từng phần như sau:</p>
        <ul>
          <li>Nguyên âm đơn</li>
          <li>Nguyên âm đôi</li>
          <li>Phụ âm</li>
        </ul>

        <p>Các thông tin chủ yếu được tập hợp từ hellochao và langmaster. Mọi thông tin được sử dụng cho mục đích luyện tập
        cá nhân, không phải là kinh doanh nên cấm sao chép và sử dụng cho mục đích thương mại.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Nguyên âm đơn
      </div>

      <div class="card-body">
        <p>Trước khi tìm hiểu chi tiết về các nguyên âm đơn trong tiếng Anh, ta cần nhớ những điểm sau:</p>

        <ul>
          <li>Khi đọc nguyên âm đơn, khẩu hình miệng là không thay đổi.</li>
          <li>Với mỗi loại nguyên âm, ta có 1 nguyên âm dài và một nguyên âm ngắn.</li>
          <li>Đối với nguyên âm dài ta phải phát âm dài và căng. Đối với nguyên âm ngắn ta phát âm nhanh dứt khoát và thả lỏng.</li>
        </ul>

        <p>Giờ cùng bắt đầu với cặp nguyên âm đầu tiên nhé.</p>

        <hr />

        <dl>
          <dt>Âm /i:/</dt>
          <dd>Đây là nguyên âm đơn và là nguyên âm dài. Âm này đọc gần như âm i tiếng việt nhưng rất dài và âm từ khoang miệng đi ra
            <ol>
              <li>Miệng mở hẹp</li>
              <li>lưỡi chạm răng hàm dưới</li>
              <li>Miệng căng ra như đang cười. Phát âm dài và căng.</li>
            </ol>
          </dd>

          <dt>Âm /ɪ/</dt>
          <dd>Đây là nguyên âm đơn và là nguyên âm ngắn. Âm này ko hẳn là âm i, nó có 1 chút giống âm /it/ trong tiếng việt hơn.
            <ol>
              <li>Miệng mở rộng hơn âm /i:/ một chút</li>
              <li>Lưỡi thả lỏng</li>
              <li>Môi thả lỏng phát âm nhanh và thả lỏng.</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /u:/</dt>
          <dd>Đây là nguyên âm đơn và là nguyên âm dài. Âm này phát âm khá giống âm u trong tiếng việt nhưng nó dài hơn.
            <ol>
              <li>Miệng mở nhỏ</li>
              <li>Cuống lưỡi nâng lên</li>
              <li>Miệng chu ra như đang hôn. Phát âm dài và căng.</li>
            </ol>
          </dd>

          <dt>Âm /ʊ/</dt>
          <dd>Đây là nguyên âm đơn và là nguyên âm ngắn. Âm này phát âm giống âm ua, hoặc ư hơn là âm u.
            <ol>
              <li>Miệng to hơn âm /u:/ một tí</li>
              <li>Cuống lưỡi nâng lên</li>
              <li>Miệng hơi chu ra và thả lỏng. Phát âm nhanh và thả lỏng.</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /e/</dt>
          <dd>Đây là nguyên âm đơn và là nguyên âm ngắn.  Phát như âm e của tiếng việt
            <ol>
              <li>Miệng mở rộng hơn âm /ɪ/ </li>
              <li>Lưỡi hạ thấp hơn âm /ɪ/</li>
              <li>Miệng hơi căng ra. Phát âm nhanh và dứt khoát.</li>
            </ol>
          </dd>

          <dt>Âm /æ/</dt>
          <dd>Đây là nguyên âm đơn và là nguyên âm ngắn. Chú ý, âm này khi phát âm ra nghe như bị chặn. Vì vậy nó mới đc gọi là e bẹt.
            Khi phát âm này, miệng nghiêng về âm /e/ ở cuối nên có cảm giác đang cười (mỉm).
            <ol>
              <li>Miệng mở to hơn âm /e/</li>
              <li>Lưỡi chạm răng hàm dưới</li>
              <li>Miệng hơi căng ra hai bên. Phát âm nhanh và dứt khoát</li>
            </ol>
          </dd>
        </dl>


        <hr />

        <dl>
          <dt>Âm /ɑ:/</dt>
          <dd>Đây là 1 nguyên âm đơn và là nguyên âm dài. Âm a kéo dài phát ra từ trong khoang miệng.
            <ol>
              <li>Miệng mở rộng hơn âm /e/</li>
              <li>Lưỡi hạ xuống ở vị trí thấp nhất</li>
              <li>Thả lỏng môi. Phát âm dài và căng.
              </li>
            </ol>
          </dd>

          <dt>Âm /ʌ/</dt>
          <dd>Đây là nguyên âm đơn và là nguyên âm ngắn. Đọc nghe giống giữa âm ắ và âm ơ, nhưng hơi phải bật ra.
            <ol>
              <li>Miệng mở nhỏ hơn âm /ɑ:/</li>
              <li>Lưỡi đưa cả hơn và đưa về sau 1 chút so với âm /ɑ:/</li>
              <li>Môi thả lỏng. Phát âm ngắn và dứt khoát.</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /ɔ:/</dt>
          <dd>Đây là một nguyên âm đơn và là nguyên âm dài. Đọc như âm o nhưng lưỡi cong lên, phát âm từ trong khoang miệng.
            <ol>
              <li>Miệng mở rộng như âm /^/</li>
              <li>Nâng cuống lưỡi lên</li>
              <li>Miệng hơi tròn. Lưu ý hơn tròn ko phải chu ra như âm u: nhé. Phát âm dài và căng.</li>
            </ol>
          </dd>

          <dt>Âm /ɒ/</dt>
          <dd>Đây là 1 nguyên âm đơn và là nguyên âm ngắn. Phát âm như âm o tiếng việt nhưng ngắn hơn.
            <ol>
              <li>Miệng mở to hơn âm /ɔ:/</li>
              <li>Lưỡi đặt thấp</li>
              <li>Miệng hơi tròn và nhô ra 1 chút</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /ɜ:/</dt>
          <dd>Đây là một nguyên âm đơn và là nguyên âm dài. Phát âm giống âm ở của tiếng việt nhưng lưỡi cong lên, âm từ trong khoang
            miệng đi ra.
            <ol>
              <li>Miệng mở tự nhiên nhưng nhỏ hơn âm /ɔ:/</li>
              <li>Lưỡi thả lỏng.</li>
              <li>Môi thả lỏng. Phát âm dài và căng.</li>
            </ol>
          </dd>

          <dt>Âm /ə/</dt>
          <dd>Đây là một nguyên âm đơn và là nguyên âm ngắn. Phát âm như âm e của tiếng việt nhưng ngắn và nhẹ.
            <ol>
              <li>Mở miệng tự nhiên, nhỏ hơn âm /ɜ:/</li>
              <li>Lưỡi thả lỏng, đặt lưỡi thấp hơn âm /ɜ:/</li>
              <li>Miệng thả lỏng, phát âm ngắn và dứt khoát.</li>
            </ol>
          </dd>
        </dl>





      </div>
    </div>
  </div>
</div>






<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Nguyên âm đôi
      </div>

      <div class="card-body">
        <p>Đây là những nét đặc trưng của nguyên âm đôi. Xem và ghi nhớ nhé.</p>

        <ul>
          <li>Một nguyên âm đôi gồm 2 nguyên âm đơn.</li>
          <li>Cách đọc nguyên âm đôi đó là phát âm âm đầu rồi chuyển sang âm sau </li>
          <li>Độ dài của âm thứ nhất gấp đôi độ dài âm thứ 2. Nên nghe cái âm thứ 2 rất ngắn.</li>
        </ul>

        <hr />

        <dl>
          <dt>Âm /ıǝ/</dt>
          <dd>Đọc như âm /ia/
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>

          <dt>Âm /ʊǝ/</dt>
          <dd>Đọc như âm /ua/
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>

          <dt>Âm /eǝ/</dt>
          <dd>đọc như âm /e-ờ
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /eı/</dt>
          <dd>Đọc như âm /êi/
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>

          <dt>Âm /ᴐı/</dt>
          <dd>Đọc như âm /oi/
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>

          <dt>Âm /aı/</dt>
          <dd>Đọc như âm /ai/
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>
        </dl>


        <hr />

        <dl>
          <dt>Âm /ǝʊ/</dt>
          <dd>Đọc như âm /âu/
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>

          <dt>Âm /aʊ/</dt>
          <dd>Đọc như âm /ao/
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Phụ âm.
      </div>

      <div class="card-body">
        <p>
          Ở phần này ta cùng tìm hiểu các phụ âm trong tiếng anh. Trong tiếng anh, phụ âm được chia làm 2 loại, voice và unvoicde.
          Cùng xem những đặc điểm của phụ âm ở phần dưới nhé.
        </p>

        <ul>
          <li>Khi phát âm các phụ âm, thì luồng khí đi ra phần nào sẽ bị chặn lại.</li>
          <li>Với mỗi phụ âm ta có 1 cặp phụ âm vô thanh và hữu thanh. Cặp này có khẩu hình miệng giống nhau, chỉ khác là voice hay unvoice thôi.  </li>
          <li>Khi đọc các phụ âm vô thanh (unvoiced) thì ta cảm thấy có luồng gió đi ra từ miệng, có thể dùng tay để cảm nhận nó.</li>
          <li>
            Riêng với các phụ âm hữu thanh (voice) thì lại cảm giác có sự rung ở cổ và không có luồng gió đi ra.
          </li>
        </ul>


        <hr />

        <dl>
          <dt>Âm /p/ unvoiced và âm /b/ voice</dt>
          <dd>
            <ol>
              <li>Mím môi lại</li>
              <li>Mở miệng nhanh và bật hơn</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /t/ unvoiced và âm /d/ voice</dt>
          <dd>___________
            <ol>
              <li>Hai răng khép lại.</li>
              <li>Lưỡi chạm mặt răng trên. Lưu ý đây là âm chặn họng. Bề mặt lưỡi gần như che toàn bộ hơi khí đi ra.</li>
              <li>Hạ lưỡi xuống, âm sẽ bật ra.</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /k/ unvoiced và âm /g/ voice</dt>
          <dd>___________
            <ol>
              <li>Miệng mở tự nhiên</li>
              <li>Cuống lưỡi nâng lên chạm vòm họng trên. Lưu ý đây là âm chặn họng</li>
              <li>Hạ lưỡi xuống và phát âm</li>
            </ol>
          </dd>
        </dl>


        <hr />

        <dl>
          <dt>Âm /f/ unvoiced và âm /v/ voice</dt>
          <dd>___________
            <ol>
              <li>Răng cửa hàm trên đặt sát môi dưới</li>
              <li>Hơi thoát ra giữa kẽ răng và môi.</li>
              <li>___________</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /s/ unvoiced và âm /z/ voice</dt>
          <dd>___________
            <ol>
              <li>Răng như đang cười, hai hàm răng khép chặt, miệng hơi mở ra.</li>
              <li>Đầu lưỡi gần chạm vào mặt răng cửa hàm dưới</li>
              <li>Để nhớ âm này, hãy liên tưởng tới tiếng xì xif của con rắn.</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <p>Phần này ta tìm hiểu về những phụ âm hơi khó trong tiếng anh. Như nói ở bài trước, ta vẫn có các cặp phụ âm
        voice và unvoiced. Cùng xem nhé.</p>



        <hr />

        <dl>
          <dt>Âm /θ/ và âm /ð/</dt>
          <dd>___________
            <ol>
              <li>Hai hàm răng khép lại như đang cười. </li>
              <li>Lưỡi đặt giữa 2 răng, cắn nhẹ đầu lưỡi.</li>
              <li>Đối với âm này, theo cái hình kia cắn cái lưỡi rồi phì hơi ra cho âm /θ/ nhưng mà cái lưỡi mình to quá nên
              phì ko ra hơi đc. Chắc là hiểu sai ý ngta rồi.</li>
            </ol>
          </dd>
        </dl>

        <hr />

        <dl>
          <dt>Âm /ʃ/ unvoiced  và âm /ȝ/ voice</dt>
          <dd>___________
            <ol>
              <li>Môi đưa về trước và mở rộng tứ phía</li>
              <li>Hai hàm răng khép lại.</li>
              <li>Cuống lưỡi cong lên chạm vào răng hàm trên</li>
              <li>Đối với âm /s/ dùng hơi thổi qua kẽ răng.</li>
              <li>Để nhớ âm này, nhớ tới khẩu hình miệng của hành động keep silent. Xuỵt</li>
            </ol>
          </dd>
        </dl>



        <hr />

        <dl>
          <dt>Âm /tʃ/ unvoiced và âm /dȝ/ voice</dt>
          <dd>Đây là 1 phụ âm khá đặc biệt, nó bắt đầu bằng âm /t/ rồi chuyển sang âm /s/ hay tương tự với âm /dȝ/.
            <ol>
              <li>___________</li>
              <li>___________</li>
              <li>___________</li>
            </ol>
          </dd>
        </dl>

      </div>
    </div>
  </div>
</div>

<app-eng-paragraph [paragraph]="'She likes fruit.'"></app-eng-paragraph>


<p>
  Testing !!!
</p>



<hr />

<dl>
  <dt>Âm ___________</dt>
  <dd>___________
    <ol>
      <li>___________</li>
      <li>___________</li>
      <li>___________</li>
    </ol>
  </dd>

  <dt>Âm ___________</dt>
  <dd>___________
    <ol>
      <li>___________</li>
      <li>___________</li>
      <li>___________</li>
    </ol>
  </dd>
</dl>
