<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Database Overview</h2>

      <p>Có 2 mô hình Database chính, mô hình RDBM và NON-SQL.</p>

      <p>Cùng phân tích tìm hiểu khi nào nên sử dụng RDBM và NON SQL.</p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>

