
<!--<mat-grid-list cols="1" rowHeight="100px">-->
  <!--{text: 'One', cols: 3, rows: 1, color: 'lightblue'},-->
  <!--{text: 'Two', cols: 1, rows: 2, color: 'lightgreen'},-->
  <!--{text: 'Three', cols: 1, rows: 1, color: 'lightpink'},-->
  <!--{text: 'Four', cols: 2, rows: 1, color: '#DDBDF1'},-->
  <!---->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
    <mat-card class="example-card">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title>Bài 4. Angular và Material</mat-card-title>
        <!--<mat-card-subtitle></mat-card-subtitle>-->
      </mat-card-header>

      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>Trong bài học này ta tiến hành nhúng cái material vào cho angular cho đẹp.</p>

        <p>Material có những thư viện khá thú vị. Việc sử dụng các module này sẽ giúp ta tiết kiệm phần nào thời gian.</p>

        <p>Không dài dòng nữa, đi vào bài học thôi.</p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->
    </mat-card>
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
    <mat-card class="example-card">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title>1. Install Angular Material</mat-card-title>
        <!--<mat-card-subtitle>___________</mat-card-subtitle>-->
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>Để tiến hành cài đặt full Material cho Angular ta cần install Angular Material trước. Cách làm như sau : </p>

        <blockquote>
          npm install --save @angular/material @angular/cdk @angular/animations
        </blockquote>

        <p>Sau đó, ta tiến hành cài đặt Material cho Angular. Thực chất step này để cài theme, thêm các thư viện về animation.</p>

        <blockquote>
          ng add @angular/material
        </blockquote>


        <p>Install thêm cái Hammer nữa</p>

        <blockquote>
          npm install --save hammerjs
        </blockquote>

        <p>Add thêm stylesheet cho Material Icon nữa. </p>

        <p>Xem thêm thông tin chi tiết tại link này <a href="https://material.angular.io/guide/getting-started" target="_blank">material.angular.io</a></p>
      </mat-card-content>

      <mat-card-actions>
        <!--<button mat-button>LIKE</button>-->
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
    <mat-card class="example-card">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title>2. Sử dụng các module trong Material như thế nào?</mat-card-title>
        <!--<mat-card-subtitle>___________</mat-card-subtitle>-->
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>Có nhiều cách để import các module của Material vào, nhưng ta sẽ đi theo cách mà rõ ràng và đơn giản nhất.</p>

        <h5>1. Tạo Material Module</h5>

        <blockquote>
          ng g m Material
        </blockquote>

        <p>Tiếp đó, vào module này, tiến hành import các Module mà ta cần xài. Cái này gồm có 2 phần, import và export.</p>

        <p>Sau đó, quay lại trang app.module.ts, add cái Module này vào thôi.</p>
      </mat-card-content>
      <mat-card-actions>
        <!--<button mat-button>LIKE</button>-->
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>

  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->











<!--<mat-card class="example-card">-->
  <!--<mat-card-header>-->
    <!--&lt;!&ndash;<div mat-card-avatar class="example-header-image"></div>&ndash;&gt;-->
    <!--<mat-card-title>___________</mat-card-title>-->
    <!--<mat-card-subtitle>___________</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <!--&lt;!&ndash;<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">&ndash;&gt;-->
  <!--<mat-card-content>-->
    <!--___________-->
  <!--</mat-card-content>-->
  <!--<mat-card-actions>-->
    <!--&lt;!&ndash;<button mat-button>LIKE</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-button>SHARE</button>&ndash;&gt;-->
  <!--</mat-card-actions>-->
<!--</mat-card>-->
