.word-dictionary{
  display: inline-flex;
  flex-direction: column;
  margin-right: 0.5rem;

  > * {
    justify-content: center;
    align-items: center;
    align-items: center;
  }

  .word-pronunciation{
    font-size: 80%;
    font-style: italic;


  }
}


