<mat-toolbar color="primary">

  <button mat-button [matMenuTriggerFor]="angular">Angular</button>

  <mat-menu #angular="matMenu">
    <button mat-menu-item><a [routerLink]="['/angular/lesson-01']">Create Project</a></button>
    <button mat-menu-item><a [routerLink]="['/angular/lesson-03']">Create Project</a></button>
    <button mat-menu-item><a [routerLink]="['/angular/lesson-04']">Create Project</a></button>
    <button mat-menu-item [routerLink]="['/angular/router']">Router</button>
    <button mat-menu-item [routerLink]="['/angular/router-advance']">Router Advance</button>
  </mat-menu>



  <button mat-button [matMenuTriggerFor]="java">Java</button>
  <mat-menu #java="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Java_JVM_Architecture">JVM Architecture </button>
    <button mat-menu-item [matMenuTriggerFor]="Java_core">Java Core</button>
    <button mat-menu-item [matMenuTriggerFor]="Java_advance">Java Advance</button>
    <button mat-menu-item [matMenuTriggerFor]="Java_concurrency">Concurrency in Java</button>
  </mat-menu>


  <mat-menu #Java_JVM_Architecture="matMenu">
    <button mat-menu-item>Overview</button>
    <button mat-menu-item>Lesson 2</button>
    <button mat-menu-item>Components of JDK</button>
  </mat-menu>

  <mat-menu #Java_core="matMenu">
    <button mat-menu-item>Object in Java</button>
    <button mat-menu-item>Class in Java</button>
    <button mat-menu-item>Interface in Java</button>
    <button mat-menu-item>What is Marker Interface</button>
    <button mat-menu-item>Abstract Class in Java</button>

    <button mat-menu-item [matMenuTriggerFor]="Java_inheritance">Inheritance in Java</button>
    <button mat-menu-item [matMenuTriggerFor]="Java_polymorphism">Polymorphism in Java</button>
    <button mat-menu-item [matMenuTriggerFor]="Java_encapsulation">Encapsulation in Java</button>
    <button mat-menu-item [matMenuTriggerFor]="Java_keywords">Java Keywords</button>
  </mat-menu>


  <mat-menu #Java_inheritance="matMenu">
    <button mat-menu-item>Inheritance in Java</button>
    <button mat-menu-item>Types of Inheritance in Java</button>
    <button mat-menu-item>Single Inheritance in Java</button>
    <button mat-menu-item>Multiple Inheritance in Java</button>
    <button mat-menu-item>Multilevel Inheritance in Java</button>
    <button mat-menu-item>Hierarchical Inheritance in Java</button>
    <button mat-menu-item>Hybrid Inheritance in Java</button>
  </mat-menu>

  <mat-menu #Java_polymorphism="matMenu">
    <button mat-menu-item>Polymorphism in Java</button>
    <button mat-menu-item>Method Overloading and Overriding</button>
    <button mat-menu-item>Types of Polymorphism in java</button>
    <button mat-menu-item>Method Overriding in Java</button>
    <button mat-menu-item>Can we Overload static methods in Java</button>
    <button mat-menu-item>Can we Override static methods in Java</button>
    <button mat-menu-item>Java Constructor Overloading</button>
    <button mat-menu-item>Java Method Overloading Example</button>
  </mat-menu>

  <mat-menu #Java_encapsulation="matMenu">
    <button mat-menu-item>Encapsulation in Java</button>
    <button mat-menu-item>Constructor in Java</button>
    <button mat-menu-item>Constructor in an Interface?</button>
    <button mat-menu-item>Parameterized Constructor in Java</button>
    <button mat-menu-item>Constructor Chaining with example</button>
    <button mat-menu-item>What is the use of a Private Constructors in Java</button>
    <button mat-menu-item>Lesson 4</button>
    <button mat-menu-item>Lesson 5</button>
  </mat-menu>


  <mat-menu #Java_keywords="matMenu">
    <button mat-menu-item>Java this keyword</button>
    <button mat-menu-item>Java super keyword</button>
    <button mat-menu-item>Final Keyword in Java</button>
    <button mat-menu-item>Static Keyword in Java</button>
    <button mat-menu-item>Static Import</button>
    <button mat-menu-item>Transient Keyword</button>
  </mat-menu>


  <mat-menu #Java_advance="matMenu">
    <button mat-menu-item>newInstance() method</button>
    <button mat-menu-item>How does Hashmap works internally in Java</button>
    <button mat-menu-item>Java Ternary operator</button>
    <button mat-menu-item>How System.out.println() really work?</button>
    <button mat-menu-item>Autoboxing and Unboxing Examples</button>
    <button mat-menu-item>Serialization and Deserialization in Java with Example</button>
    <button mat-menu-item>Generate SerialVersionUID in Java</button>
    <button mat-menu-item>How to make a class Immutable in Java</button>
    <button mat-menu-item>Differences between HashMap and Hashtable</button>
    <button mat-menu-item>Difference between Enumeration and Iterator ?</button>
    <button mat-menu-item>Difference between fail-fast and fail-safe Iterator</button>
    <button mat-menu-item>Difference Between Interface and Abstract Class in Java</button>
    <button mat-menu-item>Difference between equals() and ==</button>
    <button mat-menu-item>Sort Objects in a ArrayList using Java Comparable Interface</button>
    <button mat-menu-item>Sort Objects in a ArrayList using Java Comparator</button>

  </mat-menu>

  <mat-menu #Java_concurrency="matMenu">
    <button mat-menu-item>Lesson 1</button>
    <button mat-menu-item>Lesson 2</button>
    <button mat-menu-item>Lesson 3</button>
    <button mat-menu-item>Lesson 4</button>
    <button mat-menu-item>Lesson 5</button>
  </mat-menu>



  <button mat-button [matMenuTriggerFor]="oop">OOP</button>
  <mat-menu #oop="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="oop_principal">OOP Principal</button>
    <button mat-menu-item [matMenuTriggerFor]="design_pattern">Design Pattern</button>
  </mat-menu>


  <mat-menu #oop_principal="matMenu">
    <button mat-menu-item>Lesson 1</button>
    <button mat-menu-item>Lesson 2</button>
    <button mat-menu-item>Lesson 3</button>
    <button mat-menu-item>Lesson 4</button>
    <button mat-menu-item>Lesson 5</button>
  </mat-menu>

  <mat-menu #design_pattern="matMenu">
    <button mat-menu-item>Design Pattern</button>
    <button mat-menu-item [matMenuTriggerFor]="creational_pattern">Creational Pattern</button>
    <button mat-menu-item [matMenuTriggerFor]="structural_pattern">Structural Pattern</button>
    <button mat-menu-item [matMenuTriggerFor]="behavoral_pattern">Behavioral Pattern</button>
  </mat-menu>

  <mat-menu #creational_pattern="matMenu">
    <button mat-menu-item>Factory Pattern</button>
    <button mat-menu-item>Abstract Factory Pattern</button>
    <button mat-menu-item>Singleton Pattern</button>
    <button mat-menu-item>Builder Pattern</button>
    <button mat-menu-item>Prototype Pattern</button>
  </mat-menu>

  <mat-menu #structural_pattern="matMenu">
    <button mat-menu-item>Adapter Pattern</button>
    <button mat-menu-item>Bridge Pattern</button>
    <button mat-menu-item>Composite Pattern</button>
    <button mat-menu-item>Decorate Pattern</button>

    <button mat-menu-item>Facade Pattern</button>
    <button mat-menu-item>Flyweight Pattern</button>
    <button mat-menu-item>Proxy Pattern</button>
  </mat-menu>

  <mat-menu #behavoral_pattern="matMenu">
    <button mat-menu-item>Chain of Responsibility Pattern</button>
    <button mat-menu-item>Command Pattern</button>

    <button mat-menu-item>Interpreter Pattern</button>
    <button mat-menu-item>Iterator Pattern</button>
    <button mat-menu-item>Mediator Pattern</button>
    <button mat-menu-item>Memento Pattern</button>

    <button mat-menu-item>Observer Pattern</button>
    <button mat-menu-item>State Pattern</button>
    <button mat-menu-item>Template Pattern</button>
    <button mat-menu-item>Strategies Pattern</button>
    <button mat-menu-item>Visitor Pattern</button>
    <button mat-menu-item>DI Pattern</button>
  </mat-menu>

  <button mat-button>Spring FrameWork</button>
  <mat-menu>
    <button mat-menu-item>Lesson 1</button>
    <button mat-menu-item>Lesson 2</button>
    <button mat-menu-item>Lesson 3</button>
    <button mat-menu-item>Lesson 4</button>
    <button mat-menu-item>Lesson 5</button>
  </mat-menu>


  <button mat-button>Hibernate</button>
  <mat-menu >
    <button mat-menu-item>Lesson 1</button>
    <button mat-menu-item>Lesson 2</button>
    <button mat-menu-item>Lesson 3</button>
    <button mat-menu-item>Lesson 4</button>
    <button mat-menu-item>Lesson 5</button>
  </mat-menu>




  <!--<mat-menu #Angular="matMenu">-->
    <!--<button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>-->
    <!--<button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>-->
  <!--</mat-menu>-->

  <!--<mat-menu #vertebrates="matMenu">-->
    <!--<button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>-->
    <!--<button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>-->
    <!--<button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>-->
    <!--<button mat-menu-item>Birds</button>-->
    <!--<button mat-menu-item>Mammals</button>-->
  <!--</mat-menu>-->

  <!--<mat-menu #invertebrates="matMenu">-->
    <!--<button mat-menu-item>Insects</button>-->
    <!--<button mat-menu-item>Molluscs</button>-->
    <!--<button mat-menu-item>Crustaceans</button>-->
    <!--<button mat-menu-item>Corals</button>-->
    <!--<button mat-menu-item>Arachnids</button>-->
    <!--<button mat-menu-item>Velvet worms</button>-->
    <!--<button mat-menu-item>Horseshoe crabs</button>-->
  <!--</mat-menu>-->

  <!--<mat-menu #fish="matMenu">-->
    <!--<button mat-menu-item>Baikal oilfish</button>-->
    <!--<button mat-menu-item>Bala shark</button>-->
    <!--<button mat-menu-item>Ballan wrasse</button>-->
    <!--<button mat-menu-item>Bamboo shark</button>-->
    <!--<button mat-menu-item>Banded killifish</button>-->
  <!--</mat-menu>-->

  <!--<mat-menu #amphibians="matMenu">-->
    <!--<button mat-menu-item>Sonoran desert toad</button>-->
    <!--<button mat-menu-item>Western toad</button>-->
    <!--<button mat-menu-item>Arroyo toad</button>-->
    <!--<button mat-menu-item>Yosemite toad</button>-->
  <!--</mat-menu>-->

  <!--<mat-menu #reptiles="matMenu">-->
    <!--<button mat-menu-item>Banded Day Gecko</button>-->
    <!--<button mat-menu-item>Banded Gila Monster</button>-->
    <!--<button mat-menu-item>Black Tree Monitor</button>-->
    <!--<button mat-menu-item>Blue Spiny Lizard</button>-->
    <!--<button mat-menu-item disabled>Velociraptor</button>-->
  <!--</mat-menu>-->

</mat-toolbar>
