.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
}
