<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Overview</h2>

      <p>Spring là 1 flyweight framework. Nó ra đời nhằm giảm sự phức tạp của J2EE. </p>

      <p>Spring xoay quanh 2 concept chính đó là IoC và AOP</p>

      <p>Các modules quan trọng trong framework này mà ta cần tìm hiểu, đó là Core Container, AOP, Data
        Access/Integration, và Web + Test</p>

      <p>Ngoài ra nó còn thêm cái Security cũng đáng quan tâm đến.</p>

    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Spring hoạt động như thế nào?
      </div>

      <div class="card-body">
        <p>Đáng lý ra phần này phải được trình bày trong Spring MVC. Nhưng thực ra ta cần xem cái này đầu tiên, hiểu về
          flow hoạt động của spring như thế nào
          thì ta mới có thể liên tưởng từ đó tới các thành phần khác được.</p>

        <ol>
          <li><p>Khi có 1 request được gửi tới web server (JBoss, Tomcat), Web Server này sẽ chuyển nó cho Dispatcher
            Servlet. (step 1)</p></li>

          <li><p>DispatcherServlet kiểm tra config của nó (nhờ sự giúp đỡ của Handler Mapping) và map @Controller có
            nhiệm vụ xử lý với request này. (step 2)</p></li>

          <li><p>Controller mặc định là 1 singleton, vì vậy nó được handle bởi Spring IoC Container. Lưu ý, trong mô
            hình này, với mỗi request sẽ có 1 thread được bật.</p></li>

          <li><p>Controller xử lý request, sau đó trả lại một Modal and View Object (bao gồm model và view name). (Step
            3)</p></li>

          <li><p>DispatcherServlet gửi MVC Object tới View Resolver để lấy view Name (step 4)</p></li>

          <li><p>DispatcherServlet gửi Modal Object tới View page để hiển thị kết quả và tạo ra response trả về (Step
            5)</p></li>

          <li><p>DispatcherServlet gửi response ngược lại cho browser.</p></li>
        </ol>

        <p>Đó là đường đi của request, cũng chính là lộ trình ta cần tìm hiểu trong chương này. Về cái step 3, 4 và 5
          thì ta sẽ ko cần
          đi sâu chi tiết, ta chỉ quân tâm ở step 1, step 2 với sự xuất hiện của controller.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Core Concept of Spring
      </div>

      <div class="card-body">
        <p>Spring Core Concepts xung quanh 2 khái niệm chính, Ioc và AOP.</p>

        <p>IoC thì ta đã biết, nghịch đảo phụ thuộc, đưa các object phụ thuộc thành các composite và inject nó vào các
          object bằng DI pattern.</p>

        <p>Đối với Spring, tất cả các object có vai trò quan trọng của nó được gọi là bean. Bean được tạo bởi
          BeanFactory hoặc Application
          Context và được quản lý bởi Spring IoC.</p>

        <p>AOP cung cấp 1 cách thức linh động để có thể <i>"cắt"</i> ứng dụng mà không làm thay đổi cấu trúc của nó. Nếu
          oriented của OOP là Object, thì
          oriented của AOP là Aspect. Ta cần hiểu rõ khái niệm của Aspect này trước khi đi vào, để có thể hiểu đúng về
          nó.</p>

        <p>OOP Xem 1 ứng dụng là 1 tập hợp các đối tượng, và nó giải quyết vấn đề giữ chúng bao gồm quản lý trạng thái
          (properties/state) và giao tiếp giữa các đối tượng (behavior)</p>

        <p>AOP Xem 1 ứng dụng là những <i>"khía cạnh"</i> cụ thể. Nó có thể là log, có thể là kiểm tra security, có thể
          là handle Exception, cũng có thể là 1 cái gì đó tương tự,
          ta tạm thời xem như 1 nhiệm vụ (task) và nó xoay quanh việc handler cái task đó xảy ra như thế nào, can thiệp
          vào quá trình trước, sau, khi xảy ra lỗi này nọ.
        </p>

        <p>AOP nó ko phải là phủ định của OOP, nó chỉ là 1 phần bổ sung của OOP để có thể giải quyết những vấn đề linh
          động mà không làm phá vỡ code mà thôi. </p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages of Spring Framework
      </div>

      <div class="card-body">
        <p>Khi ta đi vào tìm hiểu 1 framework, điều đầu tiên ta cần quan tâm đó là mục đích sử dụng của nó. Sau đó là
          những
          ưu điểm, những bài toán mà framework này có thể giải quyết tốt. Bên cạnh đó ta cũng cần xem xét các nhược
          điểm của nó
          để tránh phải những sai lầm khi chọn architecture sau này.</p>

        <p>Về mục đích, Spring ra đời để giảm sự cồng kềnh của J2EE. Ngày xưa nhìn vào đống component của J2EE là thấy
          choáng rồi.
          Spring làm đơn giản J2EE. Nó thường đã support rất nhiều thức, việc của ta chỉ là quan tâm tới khía cạnh
          logic của chương
          trình, bỏ qua những rắc rối không đáng có. Vì vậy nó nhẹ hơn và linh hoạt hơn J2EE rất nhiều.</p>

        <p>Sau đây ta cùng đi sâu vào các ưu </p>

        <dl>
          <dt>Predefined Templates</dt>
          <dd>Trong Spring, các template của nó đều được xác định từ trước. Đó có thể là JDBC, Hibernate, JPA. Ta
            không cần
            quan tâm tới việc inject/setup các template này vào bên trong framework, ta chỉ cần tập trung vào việc
            implement
            các function có liên quan tới nó mà thôi. Spring sẽ lo tất tần tật những việc đó, và vì thế, công việc của
            ta sẽ đơn giản hơn nhiều.
          </dd>

          <dt>Loose Coupling</dt>
          <dd>Trong một ứng dụng, thường 1 service cần 1 đống các sub-service để làm việc với nhau. Chính sự phụ thuộc
            đó làm
            cho ứng dụng trở nên cứng nhắc và khó thay đổi. Spring cung cấp IoC nhằm phá vỡ điều đó. DI là một trong
            những pattern quan
            trọng trong pattern này, nhờ nó mà tính linh động của Spring rất cao.
          </dd>


          <dt>Easy to test</dt>
          <dd>DI mang lại khả năng test ứng dụng dễ dàng hơn. Việc chia thành nhiều service khiến ta có khả năng test
            từng bộ phận một.
          </dd>


          <dt>Lightweight</dt>
          <dd>Spring sử dụng Pojo cho các Object bên trong nó. Vì vậy nó khiến cho ứng dụng trở nên gọn gàng và sạch
            sẽ, khi không có
            quá nhiều sự phụ thuộc cũng như mở rộng. Nó không bắt buộc ta phải extend 1 class hay implement 1
            interface nào. Chính điều đó mang
            lại cho nó tên gọi non-invasive.
          </dd>


          <dt>Fast Development</dt>
          <dd>Spring hỗ trợ nhiều framework khác nhau giúp cho việc phát triển ứng dụng trở nên dễ dàng.</dd>

          <dt>Powerful abstraction</dt>
          <dd>Nó cung cấp sự trừu tượng mạnh mẽ cho các thông số kĩ thuật của JMS, JDBC, JPA, JTA</dd>

          <dt>Declarative support</dt>
          <dd>Nó cung cấp hỗ trợ khai báo cho catching, validation, transaction và formating.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
