<app-lesson-menu [lessonTitleDisplay]="'Design Pattern'" [lessonService]="this.lessonService">
  <div class="lesson-container-display">
    <div class="col-12">
      <div class="row mt-3">
        <div class="col-12 col-md-9">
          <router-outlet></router-outlet>
        </div>

        <div class="col-12 col-md-3">
          <h3 class="mb-3">About</h3>

          <div class="row mb-3">
            <div class="col-12">
              <ul class="list-group">
                <li class="list-group-item">Author: Khanh Tran</li>
                <li class="list-group-item">Email: quockhanhqb011@gmail.com</li>
                <li class="list-group-item">Phone: 0989 890 960</li>
                <li class="list-group-item">Company: BanVien</li>
                <li class="list-group-item">Position: Developer</li>
                <li class="list-group-item">Skill: Front-end, Java, OOP, DB</li>
              </ul>
            </div>
          </div>

          <h3 class="mb-3">Introduction</h3>
          <div class="row mb-3">
            <div class="col-12">
              <p>Design Pattern được chia thành 3 nhóm</p>

              <dl>
                <dt>Creational Patterns</dt>
                <dd>Quản lý việc tạo ra các đối tượng.</dd>

                <dt>Structural Patterns</dt>
                <dd>Tạo ra 1 Class/1 method dựa trên Class đã có</dd>

                <dt>Structural Patterns</dt>
                <dd>Giao tiếp giữa các đối tượng</dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="col-12 actions">
          <a class="btn btn-default" mat-menu-item [routerLink]="['/design-pattern']">Back to Overview</a>
        </div>
      </div>
    </div>
  </div>
</app-lesson-menu>

