<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Chain of Responsibility Pattern - Structural Pattern</h2>

      <p>Bản chất của Chain of Responsibility Pattern đó là đưa 1 request thông qua một chuỗi các object - Chain, và để cho những phần tử trong chuỗi đó
        tự quyết định xem nó sẽ xử lý hay sẽ chuyển tiếp request đó đến phần tử/ đối tượng kế tiếp.</p>

      <p>Nó thường được áp dụng khi mà ta có quá nhiều process trong một hệ thống, và ta không biết nên gửi nó chính xác từ đâu/ hay ta muốn cho cái hệ thống
        của ta trở nên lỏng lẻo.
      </p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Giải pháp
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implements
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages & Disadvantages
      </div>

      <div class="card-body">
        <h5>Advantages</h5>

        <p>__________</p>

        <h5>Disadvantages</h5>

        <p>__________</p>

        <h5>Usage</h5>

        <p>__________</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Summary
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>
