<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Spring Security</h2>

      <p>Spring Security là 1 framework, nó cung cấc các tính năng bảo mật khác nhau như authentication, authorization, để tạo các
      enterprise java an toàn.</p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Spring Security
      </div>

      <div class="card-body">
        <p>Spring framework tập trung focus với 2 lĩnh vực chính đó là authentication và authorization.</p>

        <p>Authentication là quá trịnh nhận biết và xác thực người dùng muốn truy cập.</p>

        <p>Authorization là quá trình cho phép authority để thực hiện các hành độngtrong ứng dụng.</p>

        <p>Ta có thể apply authorization vào authorize web request, method và truy cập vào individual domain.</p>

        <p>Những ưu diểm mà framework này mang lại:</p>

        <ul>
          <li>support authentication và authorization</li>
          <li>bảo vệ các common task</li>
          <li>Tích hợp API của Servlet</li>
          <li>Tích hợp với spring MVC</li>
          <li>Portable</li>
          <li>CSRF protection</li>
          <li>support Java Configuration </li>
        </ul>

      </div>
    </div>
  </div>
</div>



<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Spring Security Features
      </div>

      <div class="card-body">
        <p>Dưới đây là các feature của Spring Security</p>


        <dl>
          <dt>LDAP : Lightweight Directory Access Protocol</dt>
          <dd><p>It is an open application protocol for maintaining and accessing distributed directory information
            services over an Internet Protocol.</p></dd>

          <dt>Single sign-on</dt>
          <dd><p>This feature allows a user to access multiple applications with the help of single account(user name
            and password)</p></dd>

          <dt>JAAS (Java Authentication and Authorization Service) LoginModule</dt>
          <dd><p>It is a Pluggable Authentication Module implemented in Java. Spring Security supports it for its
            authentication process.</p></dd>

          <dt>Basic Access Authentication</dt>
          <dd>Spring Security supports Basic Access Authentication that is used to provide user name and password while
            making request over the network.</dd>

          <dt>Digest Access Authentication</dt>
          <dd>This feature allows us to make authentication process more secure than Basic Access Authentication.
            It asks to the browser to confirm the identity of the user before sending sensitive data over the network.</dd>

          <dt>Remember-me</dt>
          <dd>Spring Security supports this feature with the help of HTTP Cookies. It remember to the user and avoid
            login again from the same machine until the user logout.</dd>


          <dt>Web Form Authentication</dt>
          <dd>In this process, web form collect and authenticate user credentials from the web browser. Spring Security
            supports it while we want to implement web form authentication.</dd>


          <dt>Authorization</dt>
          <dd>Spring Security provides the this feature to authorize the user before accessing resources. It allows
            developers to define access policies against the resources.</dd>


          <dt>Software Localization</dt>
          <dd>This feature allows us to make application user interface in any language.</dd>


          <dt>HTTP Authorization</dt>
          <dd>Spring provides this feature for HTTP authorization of web request URLs using Apache Ant paths or regular
            expressions.</dd>
        </dl>
        


      </div>
    </div>
  </div>
</div>
