<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Decorate Pattern - Structural Pattern</h2>

      <p>Về mặt chức năng, Decorate Pattern tương tự với Builder, tuy nhiên, Builder thì xây dựng Object còn Decorate thì xây dựng behavior của Object.</p>

      <p>Decorate được sử dụng để xây dựng các Object vừa có đặc điểm của cái này, vừa có đặc điểm của cái kia. Nó kiểu như đa kế thừa, một thứ
      mà Java không cho phép.</p>

      <p>Nói cách khác, thì Decorate hướng tới việc mở rộng Object, bằng hình thức đa kế thừa ảo - (cái này do tui đặt á).</p>

      <p>Ngoài ra nó còn được gọi là <b>Wrapper</b></p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        <p>Ta quay lại với cửa hàng góc phố nào.</p>

        <p>Những câu chuyện trước, ta biết rằng, cửa hàng của ông chủ vừa có đầu bếp tây, vừa có đầu bếp ta.</p>

        <p>Dĩ nhiên là ông đầu bếp tây sẽ chuyên lo về các món tây, còn ông đầu bếp ta thì chỉ chuyên lo về các món Á Đông rồi.</p>

        <p>Một ngày nọ, có một ông khách vào đòi ăn món Cá Mú hấp xì dầu phủ sốt Mayonnaise </p>

        <p>Ông chủ không biết đối với thực đơn này sẽ giao cho ai, anh đầu bếp tây thì cũng ko đc, mà anh đầu bếp ta cũng ko xong.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Giải pháp
      </div>

      <div class="card-body">
        <p>Anh phục vụ biết chuyện, mới bảo ông rằng, giờ kêu anh đầu bếp Á Đông hấp cá, rồi mang sang cho anh đầu bếp Âu đổ sốt vào, thế là xong</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>

      <div class="card-body">
        <blockquote>
          A Decorator Pattern says that just "attach a flexible additional responsibilities to an object dynamically".
        </blockquote>

        <blockquote>The Decorator Pattern is also known as Wrapper</blockquote>

        <p>Rõ ràng, trong lập trình, ta cũng gặp những tình huống éo le như vậy.</p>

        <p>Java không hề có Multiple Inheritance. Việc Multiple Inheritance của nó là thông qua Interface, và cái thằng Object implement method đó,
          phải quyết định nó sẽ phải xây dựng method đó ntn.</p>

        <p>Tuy nhiên, trong trường hợp này, ta không muốn implement 1 new method, thay vì vậy ta muốn sử dụng lại từ những Object đã có cho nó nhanh
          và hiệu quả nhất. </p>

        <p>Chính design pattern này sẽ giúp chúng ta giải quyết bài toán Multiple Inheritance đó.</p>

        <p>Nói cách khác, Decorate Pattern sử dụng composition thay thế cho inheritance để có thể mở rộng functionality của Object
        trong quá trình Run-time.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implements
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages & Disadvantages
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Summary
      </div>

      <div class="card-body">
        ________________________________
      </div>
    </div>
  </div>
</div>
