<div class="row mb-3">
  <div class="col-12">
    <div class="overview-container">
      <h2 class="mb-3">Decorate Pattern - Structural Pattern</h2>

      <p>Về mặt chức năng, Decorate Pattern tương tự với Builder, tuy nhiên, Builder thì xây dựng Object còn Decorate thì xây dựng behavior của Object.</p>

      <p>Decorate được sử dụng để xây dựng các Object vừa có đặc điểm của cái này, vừa có đặc điểm của cái kia. Nó kiểu như đa kế thừa, một thứ
      mà Java không cho phép.</p>

      <p>Nói cách khác, thì Decorate hướng tới việc mở rộng Object, bằng hình thức đa kế thừa ảo - (cái này do tui đặt á).</p>

      <p>Ngoài ra nó còn được gọi là <b>Wrapper</b></p>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bài toán
      </div>

      <div class="card-body">
        <p>Ta quay lại với cửa hàng góc phố nào.</p>

        <p>Những câu chuyện trước, ta biết rằng, cửa hàng của ông chủ vừa có đầu bếp tây, vừa có đầu bếp ta.</p>

        <p>Dĩ nhiên là ông đầu bếp tây sẽ chuyên lo về các món tây, còn ông đầu bếp ta thì chỉ chuyên lo về các món Á Đông rồi.</p>

        <p>Một ngày nọ, có một ông khách vào đòi ăn món Cá Mú hấp xì dầu phủ sốt Mayonnaise </p>

        <p>Ông chủ không biết đối với thực đơn này sẽ giao cho ai, anh đầu bếp tây thì cũng ko đc, mà anh đầu bếp ta cũng ko xong.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Giải pháp
      </div>

      <div class="card-body">
        <p>Anh phục vụ biết chuyện, mới bảo ông rằng, giờ kêu anh đầu bếp Á Đông hấp cá, rồi mang sang cho anh đầu bếp Âu đổ sốt vào, thế là xong</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>

      <div class="card-body">
        <blockquote>
          A Decorator Pattern says that just "attach a flexible additional responsibilities to an object dynamically".
        </blockquote>

        <blockquote>The Decorator Pattern is also known as Wrapper</blockquote>

        <p>Rõ ràng, trong lập trình, ta cũng gặp những tình huống éo le như vậy.</p>

        <p>Java không hề có Multiple Inheritance. Việc Multiple Inheritance của nó là thông qua Interface, và cái thằng Object implement method đó,
          phải quyết định nó sẽ phải xây dựng method đó ntn.</p>

        <p>Tuy nhiên, trong trường hợp này, ta không muốn implement 1 new method, thay vì vậy ta muốn sử dụng lại từ những Object đã có cho nó nhanh
          và hiệu quả nhất. </p>

        <p>Chính design pattern này sẽ giúp chúng ta giải quyết bài toán Multiple Inheritance đó.</p>

        <p>Nói cách khác, Decorate Pattern sử dụng composition thay thế cho inheritance để có thể mở rộng functionality của Object
        trong quá trình Run-time.</p>

        <p>Khi sử dụng decorate, ta nhắc tới feature hơn là method.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Implements
      </div>

      <div class="card-body">
        <p>Các bước triển khai nó bao gồm:</p>

        <ul>
          <li>Component Interface  - The interface or abstract class defining the methods that will be implemented.</li>

          <li>Component Implementation - The basic implementation of the component interface</li>

          <li>Decorator - Decorator class implements the component interface and it has a HAS-A relationship
            with the component interface. The component variable should be accessible to the child decorator
            classes, so we will make this variable protected.</li>

          <li>Concrete Decorators - Extending the base decorator functionality and modifying the component behavior accordingly.</li>
        </ul>

        <img src="./../assets/design_pattern/decorator-pattern.png" class="img-fluid"/>

        <img src="../assets/design_pattern/uml_diagram/decorator_pattern_uml_diagram.jpg" class="img-fluid">

        <p>Một ví dụ nữa của Decorate Pattern đó là Directive trong Angular. Directive trong Angular là 1 taglib, mà ta có thể
        nhúng vào bất cứ đâu mà ta muốn. Khi element đó có 2 directive, nó sẽ chịu ảnh hưởng luôn của 2 thằng.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Advantages & Disadvantages & Usage
      </div>

      <div class="card-body">
        <h5>Advantages</h5>

        <p>Cung cấp một cách thức linh hoạt hơn so với kế thừa mặc định (static inheritance)</p>

        <p>Tăng cường khả năng mở rộng của object bởi vì việc thay đổi được thực hiện bằng cách thêm các class mới
        hơn là update các class  hiện tại.</p>

        <p>Cho phép ta phát triển một loạt các chức năng của object từ các lớp có sẵn thay vì phải code toàn bộ các chức năng
        vào trong cùng một đối tượng. *</p>

        <p class="small-text">
          * Về mặt bản chất, Decorate cho phép class vừa có đặc điểm của cái này, vừa có đặc diểm của cái kia. Do đó, đây
          là điều quan trọng nhất trong số những ưu điểm của decorate. Điều này đồng nghĩa với việc, thay vì ta xây dựng 1 object
          với đầy đủ các method, thì ta có thể tách nó ra thành các object độc lập, nhắm vào từng chức năng cụ thể rồi gom nó lại thành 1 cục.
          Điều này đặc biệt hữu ích hơn nữa, khi các method đó đã được xây dựng trong các object đã có sẵn, ta có thể kế thừa nó,
          mà ko cần phải rewrite lại code.
        </p>

        <h5>Disadvantages</h5>

        <p>Việc sử dụng decorate giúp ta có thể tạo các Class mới được extend từ các Class cũ thông qua 1 cơ chế linh hoạt hơn nhưng nó lại mang lại
        những rủi ro khi ta cần phải custom lại behavior của cái đó. Ta đều biết rằng, Decorate đưa các object kia thành 1 thành phần của nó, và từ đó mà
        behavior của nó có luôn những đặc điểm của thằng này lẫn thằng kia, nhưng đó cũng chính là vấn đề của đa kế thừa.</p>

        <p>Chịu ảnh hưởng của quá nhiều object đói lúc khiến cho behavior của nó không còn đúng đắn nữa. Vì vậy ta cần xem xét kĩ lưỡng khi
        quyết định sử dụng decorate này. Hoặc khi sử dụng, thì các behavior của các Object mà nó sử dụng bên trong phải trở nên độc lập với nhau
        thì mới có thể tránh được điều này.</p>

        <h5>Usage</h5>

        <p>Khi ta muốn tăng sự minh bạch và linh động và add thêm trách nhiệm - responsibility cho đối tượng mà không làm ảnh hưởng đến các đối tượng khác</p>

        <p>Khi ta muốn thêm responsibility cho các dối tượng mà có thể thay dổi trong tương lai</p>

        <p>Khi việc mở rộng function bằng việc sử dụng các subclass không thực tế, ví dụ như có quá nhiều sub-class được tạo để handle các trường hợp
        chẳng hạn.</p>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Summary
      </div>

      <div class="card-body">
        <p>Decorate giúp ta có thể xây dựng các class với những feature từ các class đã có hiện tại.</p>

        <p>Đối với decorate, vấn đề quan trọng nhất đó là các feature của các object mà nó muốn sở hữu. cần đảm bảo
        các feature này là độc lập với nhau.</p>
      </div>
    </div>
  </div>
</div>
